ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     BUSTILLO 
                AIR FORCE 
                HE 
                ITS MOST ENCOURAGING PILLAR 
                IT 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
PERP ORG:       CLANDESTINE 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                GENERAL 
                THAT 
                BOMBING 
                SAN SALVADOR 'S NEIGHBORHOODS 
                FMLN 
                SALVADORAN ARMED FORCES 
                THIS FIRST 
                INTERIOR 
                COUNTRY 
                DESTRUCTION 
                DOZENS 
                TOWNS 
                MANY OTHERS 
                PLACE 
                GENOCIDE 
                INFANTRY 
                MASS MURDERS 
                CIVILIANS 
                EL MOSOTO 
                SUNPUL 
                OCOTAPAYO 
                BUSTILLO 
                AIR FORCE 
                HE 
                ITS MOST ENCOURAGING PILLAR 
                IT 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                U.S. STRATEGY 
                TOP MILITARY COMMAND 
                PAST 10 YEARS 
                ALL 
                ITS 
                PERMANENT REBELLION 
                RURAL AREAS 
                COUNTRY 'S 
                10 NOVEMBER OFFENSIVE 
TARGET:         CLANDESTINE 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
VICTIM:         CLANDESTINE 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                BUSTILLO 
                AIR FORCE 
                HE 
                ITS MOST ENCOURAGING PILLAR 
                IT 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                JESUITS ' MURDERS 
                BOMBINGS 
                INTERNATIONAL COMMUNITY 
                PUNISHMENT 
                OFFICERS 
                THESE INCIDENTS 

