ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                MONSIGNOR ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
PERP ORG:       8 JAN 90 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                THIS 
                GENERAL 
                BOMBING 
                SAN SALVADOR 'S NEIGHBORHOODS 
                FMLN 
                SALVADORAN ARMED FORCES 
                THIS FIRST 
                INTERIOR 
                COUNTRY 
                DESTRUCTION 
                MANY OTHERS 
                GENOCIDE 
                INFANTRY 
                MASS MURDERS 
                EL MOSOTO 
                AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                MONSIGNOR ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                U.S. STRATEGY 
                TOP MILITARY COMMAND 
                PAST 10 YEARS 
                PERMANENT REBELLION 
                RURAL AREAS 
                COUNTRY 'S 
                10 NOVEMBER OFFENSIVE 
TARGET:         8 JAN 90 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
VICTIM:         8 JAN 90 
                RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                MONSIGNOR ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                JESUITS ' MURDERS 
                BOMBINGS 
                INTERNATIONAL COMMUNITY 
                OFFICERS 
                THESE INCIDENTS 

