ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -LSB- TEXT -RSB- GOODBYE
                10 YEARS THE MILITARY
                ACHIEVEDEMOCRACY AND SOCIAL JUSTICE
                EXCUSES IN THE FACEOF
                BETOUGHER AND INFLEXIBLE
                A POLITICAL SOLUTION
                A DECADENT MINORITY.BUSTILLO
                A FASCIST CRUSADE
                A STRONGDEBATE
                A USELESS ELEMENT
                PEOPLESOF THE WORLD
                A WHOLE
                A SHORT LIFE SPAN
PERP INDIV:     -LSB- TEXT -RSB- GOODBYE
                THIS
                SAN SALVADOR 'S NEIGHBORHOODS
                THESALVADORAN ARMED FORCES
                10 YEARS THE MILITARY
                ACHIEVEDEMOCRACY AND SOCIAL JUSTICE
                THIS FIRST
                INTERIOR OF THECOUNTRY
                ALL OF THEM
                EXCUSES IN THE FACEOF
                PEOPLE 'S PLAN
                PATRIOT OFFICERS
                THAT SAME ARMY
                THIS CENTURY
                TOP MILITARY COMMAND
                ANACT OF GENOCIDE
                DISGRUNTLED PEOPLE
                GUERRILLA FORCES
                ARMED FORCES
                FMLN 'S STRENGTH
                ARMED FORCES
                BETOUGHER AND INFLEXIBLE
                A POLITICAL SOLUTION
                A DECADENT MINORITY.BUSTILLO
                A FASCIST CRUSADE
                PEOPLE 'S
                THIS EFFORT
                GENOCIDAL , ANTIPOPULAR
                SUCH AN EXTENT
                A STRONGDEBATE
                MILITARY AID
                OFFICERS
                COLONEL RENE EMILIO PONCE
                A USELESS ELEMENT
                THIS FOUL TASTING CANDY
                EL SALVADOR
                PEOPLESOF THE WORLD
                DOOR OF DEFEAT
                ARMED FORCES
                MORE WALLS OF REPRESSION
                PEOPLE
                A WHOLE
                A SHORT LIFE SPAN
                THIS COUNTRY
PERP ORG:       -LSB- TEXT -RSB- GOODBYE
                AIR FORCE COMMANDER
                FALSEHOPE FOR MASS KILLERS
                ASTHE AIR FORCE CHIEF
                SAN SALVADOR 'S NEIGHBORHOODS
                FMLN
                FARABUNDO MARTI NATIONAL LIBERATION
                THESALVADORAN ARMED FORCES
                U.S. COUNTERINSURGENCY POLICY
                10 YEARS THE MILITARY
                THEIR U.S. SPONSORS
                ACHIEVEDEMOCRACY AND SOCIAL JUSTICE
                MANY GENERALSAND U.S. AMBASSADORS
                EXCUSES IN THE FACEOF
                AIR FORCE
                PATRIOT OFFICERS
                THAT SAME ARMY
                U.S. PENTAGON
                U.S. STRATEGY
                TOP MILITARY COMMAND
                GUERRILLA FORCES
                ARMED FORCES
                FMLN 'S STRENGTH
                ARMED FORCES
                BETOUGHER AND INFLEXIBLE
                A POLITICAL SOLUTION
                A DECADENT MINORITY.BUSTILLO
                A FASCIST CRUSADE
                FMLN ACTION
                FMLN
                FMLN OFFENSIVE
                SUCH AN EXTENT
                A STRONGDEBATE
                MILITARY AID
                OFFICERS
                U.S. CONGRESS
                A USELESS ELEMENT
                EL SALVADOR
                PEOPLESOF THE WORLD
                ARMED FORCES
                A WHOLE
                A SHORT LIFE SPAN
TARGET:         -LSB- STATION COMMENTARY
                -LSB- TEXT -RSB- GOODBYE
                FALSEHOPE FOR MASS KILLERS
                SAN SALVADOR 'S NEIGHBORHOODS
                BUSTILLO 'S RESIGNATION
                10 YEARS
                10 YEARS THE MILITARY
                THEAIR POWER
                ACHIEVEDEMOCRACY AND SOCIAL JUSTICE
                THEIMPERIALIST POWER 'S
                EXCUSES IN THE FACEOF
                -LSB- FORMER DEFENSE MINISTEREUGENIO
                PEOPLE 'S PLAN
                THAT SAME ARMY
                COUNTRY 'S
                10 NOVEMBER OFFENSIVE
                IT CLEARLY
                FMLN 'S STRENGTH
                BETOUGHER AND INFLEXIBLE
                A POLITICAL SOLUTION
                COUNTRY 'S MAJORSECTORS
                A DECADENT MINORITY.BUSTILLO
                A FASCIST CRUSADE
                PEOPLE 'S
                GENOCIDAL , ANTIPOPULAR
                SUCH AN EXTENT
                A STRONGDEBATE
                A USELESS ELEMENT
                EL SALVADOR
                PEOPLESOF THE WORLD
                A WHOLE
                A SHORT LIFE SPAN
VICTIM:         PEOPLE 'S PLAN

