ID:             DEV-MUC3-0042
INCIDENT:       BOMBING
WEAPON:         LIMA 
                TELEVISION PERUANA 
                TERRORISTS 
                DYNAMITE STICKS 
                U.S. EMBASSY FACILITIES 
                MIRAFLORES DISTRICT 
                SERIOUS DAMAGE 
                FORTUNATELY NO CASUALTIES 
PERP INDIV:     LIMA 
                TELEVISION PERUANA 
                TERRORISTS 
                DYNAMITE STICKS 
                U.S. EMBASSY FACILITIES 
                MIRAFLORES DISTRICT 
                SERIOUS DAMAGE 
                FORTUNATELY NO CASUALTIES 
                FIRST POLICE REPORTS 
                ATTACK 
                10 TERRORISTS 
                2 TOYOTA CARS 
PERP ORG:       FACILITY 
                3 SECURITY OFFICERS 
                GROUP 
                EMBASSY OFFICIALS 
                WORK MEETING 
                FIRST POLICE REPORTS 
                ATTACK 
                10 TERRORISTS 
                2 TOYOTA CARS 
TARGET:         LIMA 
                TELEVISION PERUANA 
                TERRORISTS 
                DYNAMITE STICKS 
                U.S. EMBASSY FACILITIES 
                MIRAFLORES DISTRICT 
                SERIOUS DAMAGE 
                FORTUNATELY NO CASUALTIES 
                ATTACK 
                PLACE 
                JANUARY 
                GMT 
                FACILITY 
                3 SECURITY OFFICERS 
                GROUP 
                EMBASSY OFFICIALS 
                WORK MEETING 
                OF THE VEHICLES 
                THIRD BLOCK 
                JOSE PARDO AVENUE 
                OTHER 
                FIRST BLOCK 
                BELLA VISTA STREET 
                MIRAFLORES 
VICTIM:         LIMA 
                TELEVISION PERUANA 
                TERRORISTS 
                DYNAMITE STICKS 
                U.S. EMBASSY FACILITIES 
                MIRAFLORES DISTRICT 
                SERIOUS DAMAGE 
                FORTUNATELY NO CASUALTIES 
                ATTACK 
                PLACE 
                JANUARY 
                GMT 
                FACILITY 
                3 SECURITY OFFICERS 
                GROUP 
                EMBASSY OFFICIALS 
                WORK MEETING 
                FIRST POLICE REPORTS 
                10 TERRORISTS 
                2 TOYOTA CARS 

