ID:             DEV-MUC3-0042
INCIDENT:       BOMBING
WEAPON:         DYNAMITE STICKS 
PERP INDIV:     TERRORISTS 
PERP ORG:       GROUP 
                FIRST POLICE REPORTS 
TARGET:         U.S. EMBASSY FACILITIES 
                EMBASSY OFFICIALS 
                OF THE VEHICLES 
VICTIM:         -

