ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
                SALVADORAN ARMED FORCES 
                INFANTRY 
                TOP MILITARY COMMAND 
TARGET:         RADIO VENCEREMOS 
VICTIM:         ARNULFO ROMERO 
                JESUIT PRIESTS 
                JESUITS ' MURDERS 
                INTERNATIONAL COMMUNITY 

ID:             DEV-MUC3-0022
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GUERRILLA OFFENSIVE 
                FMLN 
                STRONG MILITARY FORCE 
                REVOLUTIONARY ATTITUDE 
                GOVERNMENT ARMY 
                ARMY 
                MILITARY STANCE 
TARGET:         -
VICTIM:         SOLDIERS 
                JESUIT PRIESTS 
                MEMBERS OF THE ARMY 
                ROMERO 
                JESUIT FATHERS 
                PEOPLE 
                CIVILIANS 

ID:             DEV-MUC3-0026
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         HECTOR OQUELI COLINDRES 
                CIVILIAN CLOTHING 

ID:             DEV-MUC3-0028
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SALVADORAN MILITARY MEN 
PERP ORG:       MILITARY POWER 
                MILITARY MAN 
                ARMED FORCES 
TARGET:         -
VICTIM:         SIX JESUIT PRIESTS 
                SOLDIERS OR LIEUTENANTS 
                MEMBERS 
                WOMEN 
                JESUITS 

ID:             DEV-MUC3-0036
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     HEAVILY ARMED MEN 
PERP ORG:       -
TARGET:         -
VICTIM:         OQUELI 
                VALUABLE PERSONS 
                LEADERS 
                GILDA FLORES 
                ACTIVE MEMBER 

ID:             DEV-MUC3-0044
INCIDENT:       ATTACK
WEAPON:         DYNAMITE 
PERP INDIV:     GUERRILLAS 
                ARMED PLATFORMS 
PERP ORG:       -
TARGET:         CAR BOMBS 
VICTIM:         -

ID:             DEV-MUC3-0051
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     WEARING 
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0061
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         ARNULFO ROMERO 
                JUDGE 
                PERSONS 
                GARCIA ALVARADO 
                IVON FLORES 
                TWO OFFICIALS 
                ROMERO 
                MAJOR ROBERTO D'AUBUISSON 

ID:             DEV-MUC3-0077
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         COLOMBIAN INDUSTRIALIST NORMAL ECHEVARRIA 
                MEDELLIN METROPOLITAN POLICE MEMBERS 

ID:             DEV-MUC3-0102
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
TARGET:         UNION MEMBERS 
                LABOR UNION MEMBERS 
                FENASTRAS HEADQUARTERS 
VICTIM:         -

ID:             DEV-MUC3-0115
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PEASANTS 
                FIVE PEASANTS 
                JOSE MANUEL JIMENEZ RIVERA 
                JOSE LACIDES ORDONEZ 
                JOSE ISAAC FORERO LINARES 

ID:             DEV-MUC3-0117
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     BOTH MEN 
PERP ORG:       -
TARGET:         OFFICES OF LAWYER 
                LOCAL POLICE 
                PROVINCIAL BANK 
VICTIM:         -

ID:             DEV-MUC3-0118
INCIDENT:       ATTACK
WEAPON:         BOMBS 
                EXPLOSIVE DEVICES 
                AS WELL AS CAR 
PERP INDIV:     -
PERP ORG:       COMMUNIST AGGRESSION 
TARGET:         RESIDENCE AND OFFICE 
                HOME 
VICTIM:         FIVE CIVILIANS 
                MEMBERS 
                HIS WIFE 
                PRESIDENT VINICIO CEREZO AREVALO 
                GEN HECTOR GRAMEJO 

ID:             DEV-MUC3-0126
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         PRESIDENT JOSE NAPOLEON DUARTE 
                HIS OFFICE 
VICTIM:         -

ID:             DEV-MUC3-0134
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         AT LEAST FIVE PERSONS 
                PERSONS 
                WOMAN 

ID:             DEV-MUC3-0139
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     COMMANDING OFFICERS 
PERP ORG:       -
TARGET:         -
VICTIM:         REPORTER ROBERTO NAVAS 
                LUIS GALDAMEZ 
                JOURNALIST ROBERTO NAVAS 
                JOSE NAPOLEON DUARTE'S 
                ROBERTO NAVAS 

ID:             DEV-MUC3-0165
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAR PARKED NEARBY 
                CAR 
VICTIM:         -

ID:             DEV-MUC3-0169
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         RADIO QUITO 
                NATIONAL POLICE 
                POLICE 
                GAS AND WATER 
VICTIM:         INJURED PERSONS 
                LUIS VERNAZA HOSPITAL 
                OF THE DEMONSTRATORS 
                PERSONS 

ID:             DEV-MUC3-0182
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         RADIO CADENA YSU 
VICTIM:         MEMBER 

ID:             DEV-MUC3-0197
INCIDENT:       ATTACK
WEAPON:         BOMBS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         U.S. EMBASSY WAREHOUSE 
VICTIM:         U.S. EMBASSY EMPLOYEES 

ID:             DEV-MUC3-0213
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NATIONAL LIBERATION ARMY 
                SHINING PATH MEMBERS 
                POLICE 
                DRUG ADDITION 
                DRUG TRAFFICKING 
TARGET:         -
VICTIM:         PEOPLE 
                U.S. CITIZENS 
                OUR CHILDREN 

ID:             DEV-MUC3-0225
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ARRESTED MEN 
                TWO ARRESTED MEN 
                MILITARY MAN 
PERP ORG:       -
TARGET:         -
VICTIM:         CIVILIAN JOSE JAVIER RIVERA 
                OTHER POLITICAL CRIMES 

ID:             DEV-MUC3-0231
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         AMERICAN CITIZENS 

ID:             DEV-MUC3-0239
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         HIS HOME 
                OFFICE ON 1 
VICTIM:         SAN JOSE 
                ANTONIO RODRIGUEZ PORTH 
                RODRIGUEZ PORTH 
                LUIS GUILLERMO SOLIS 

ID:             DEV-MUC3-0241
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         HIS RESIDENCE 
                SALVADORAN POLICE REPORTS 
VICTIM:         PEOPLE 
                THEIR LEADERS 

ID:             DEV-MUC3-0243
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
TARGET:         -
VICTIM:         EDUARDO COLINDRES 
                RODRIGUEZ ' GRIEVING FAMILY 
                ANTONIO RODRIGUEZ PORTH 
                ANY OTHER INCIDENT 
                SALVADORAN PEOPLE 
                RODRIGUEZ PORTH'S 

ID:             DEV-MUC3-0253
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       SALVADORAN ARMED FORCES 
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0260
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         MANY PEOPLE 

ID:             DEV-MUC3-0261
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NATIONALIST REPUBLICAN GOVERNMENT 
TARGET:         -
VICTIM:         PEOPLE 

ID:             DEV-MUC3-0263
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAMILIST UNION 
                PACIFIC OIL PIPELINE 
                KG OF DYNAMITE 
VICTIM:         -

ID:             DEV-MUC3-0277
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         TOURIST BUS 
                ANTI-TERRORIST POLICE 
                VEHICLES 
VICTIM:         -

ID:             DEV-MUC3-0280
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         PERUVIAN PORT 
                BUS 
VICTIM:         SOVIET AMBASSADOR TO 
                SOVIET SAILORS 
                ALL THE INJURED SAILORS 
                GUILTY PERSONS 
                SOVIET PEOPLE 

ID:             DEV-MUC3-0284
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       ARMY 
                ELN 
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0287
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       LEFT-WING PATRIOTIC UNION 
                CASTROITE ARMY 
                NATIONAL LIBERATION 
                COLOMBIAN GOVERNMENT 
                ELN 
TARGET:         PRESIDENT VIRGILIO BARCO 
VICTIM:         JARAMILLO 
                JAIME PARDO LEAL 

ID:             DEV-MUC3-0289
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN OPERATION 
TARGET:         RADIO CADENA YSKL 
                DEMOCRACY TOWER BUILDING 
                BUILDING 
                VEHICLE 
                BUILDING'S BASEMENT 
                GAS TANKS 
VICTIM:         -

ID:             DEV-MUC3-0297
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SOLDIERS 
PERP ORG:       GOVERNMENT 
TARGET:         -
VICTIM:         EL SALVADOR UNIVERSITY 
                APPROXIMATELY SIX PERSONS 
                SOLDIERS 
                UNIVERSITY CAMPUS 
                OF THE PERSONS 
                UNIVERSITY 
                MEMBERS 

ID:             DEV-MUC3-0298
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0306
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         CANO LIMON 
                COVENAS PIPELINE HAVE 
VICTIM:         -

ID:             DEV-MUC3-0316
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAMILIST UNION 
                PEREIRA-CARTAGO PIPELINE 
                PIPELINE 
VICTIM:         -

ID:             DEV-MUC3-0318
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         TELEPHONE 
                POLICE PATROL CAR 
                OFFICE 
VICTIM:         INJURED ON 

ID:             DEV-MUC3-0325
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     FIRST CRIMINAL COURT 
                PEOPLE'S 
PERP ORG:       FOLLOWING - 
TARGET:         -
VICTIM:         ROMERO 
                ROSA CHAVEZ 
                JOSE NAPOLEON DUARTE 
                MEMBERS OF HIS FAMILY 

ID:             DEV-MUC3-0342
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ARMY SOLDIERS 
PERP ORG:       -
TARGET:         -
VICTIM:         LABOR AND SALARY ISSUES 

ID:             DEV-MUC3-0345
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         CARLOS ERNESTO VALENCIA GARCIA 
                SUPERIOR CRIMINAL COURT JUDGE 
                OF HIS BODYGUARDS 
                JUDGE VALENCIA GARCIA 

ID:             DEV-MUC3-0347
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         COLOMBIAN JUSTICE CARLOS VALENCIA 
                JUSTICE CARLOS VALENCIA GARCIA 
                COLOMBIAN MAGISTRATES 
                COLOMBIAN JUDGES 
                CARLOS VALENCIA GARCIA 
                BEST CHILDREN 
                WIFE 

ID:             DEV-MUC3-0351
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         OTHER PERSONS 

ID:             DEV-MUC3-0354
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         LUIS CARLOS GALAN 
                GALAN 

ID:             DEV-MUC3-0366
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         SAME OFFICE 
VICTIM:         COLOMBIAN DEFENSE MINISTRY 
                JUDGE 
                SENATOR LUIS CARLOS GALAN 

ID:             DEV-MUC3-0367
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         VENEZUELAN PEOPLE 
                EL AMPARO 
                GROUP OF SOLDIERS 
                FISHERMEN 
                LUIS CARLOS GALAN 

ID:             DEV-MUC3-0371
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PERSONS 

ID:             DEV-MUC3-0391
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SEVERAL LARGE FARMS 
                RODRIGUEZ GACHA 
PERP ORG:       -
TARGET:         OFFICE 
                BANK 
VICTIM:         RODRIGUEZ GACHA 
                PABLO ESCOBAR GAVIRIA 
                MAFIA LEADERS 
                JUSTICE MARIA ELENA DIAZ 
                LUIS RUBIO ROJAS 

ID:             DEV-MUC3-0395
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT 
TARGET:         -
VICTIM:         SENATOR LUIS CARLOS GALAN 
                OTHER COLOMBIANS 
                GALAN'S ASSASSINATION 
                SENATOR GALAN'S ASSASSINATION 
                MANY PEOPLE 
                GALAN'S MURDER 

ID:             DEV-MUC3-0404
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       MILITARY SECTION 
                ARMY INTELLIGENCE SERVICE 
TARGET:         -
VICTIM:         FORMER MEMBER 
                GENERAL CARLOS PRATS 

ID:             DEV-MUC3-0406
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         SENATOR GALAN 

ID:             DEV-MUC3-0411
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SOLDIERS 
                YOUNG STUDENT 
PERP ORG:       -
TARGET:         -
VICTIM:         SALESIAN PRIESTS 
                MIGUEL ERNESTO MIRANDA REINA 
                SOLDIERS 
                OTHER SIMILAR MEASURES 

ID:             DEV-MUC3-0413
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         FIRE STATION 
                GAS STATION 
                BOGOTA CUSTOMS OFFICE 
                POLICE 
                AMBULANCES 
                EL ESPECTADOR INSTALLATIONS 
                VEHICLE 
                NEWSPAPER INSTALLATIONS 
                GAS STATION BILLBOARD 
VICTIM:         PEOPLE 
                INJURED 
                HERIBERTO LOPEZ GONZALEZ 
                JAIME ORLANDO SUAREZ 
                LEON ALVARO VITORINO 
                CARMEN ROSA GUTIERREZ 
                OTHERS BADLY INJURED 

ID:             DEV-MUC3-0441
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     THIRTY MEN 
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0443
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SEVERAL HOODED MEN 
PERP ORG:       -
TARGET:         STATE-OWNED NATIONAL UNIVERSITY 
                LARGEST UNIVERSITY 
VICTIM:         -

ID:             DEV-MUC3-0451
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         TELEPHONE EXCHANGE 
                CAR 
                TELEPHONE EXCHANGE WATCHMAN 
                TELEPHONE CONNECTIONS 
                PUBLIC BUILDING 
                PULVERIZED VEHICLE 
                HUNDREDS OF YARDS 
                WEST OF THE CITY 
VICTIM:         PEOPLE 

ID:             DEV-MUC3-0452
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         HIS OFFICE 
VICTIM:         LUIS FERNANDO GALEANO BERRIO 
                FINANCIAL OFFICIALS 

ID:             DEV-MUC3-0465
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         POLICE SOURCES 
VICTIM:         -

ID:             DEV-MUC3-0467
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     HEAVILY ARMED INDIVIDUALS 
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0472
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
                SALVADORAN GOVERNMENT DELEGATION 
TARGET:         SALVADORAN POLITICAL LIFE 
VICTIM:         OSCAR ARNULFO ROMERO 

ID:             DEV-MUC3-0474
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         RESIDENCE 
                POLICE 
                LUXURY CAR 
                FELIPE COSTA'S RESIDENCE 
                OFFICE 
VICTIM:         -

ID:             DEV-MUC3-0480
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ARCE BATTALION TROOPS 
PERP ORG:       -
TARGET:         -
VICTIM:         SOLDIERS 
                PERQUIN CIVILIANS 

ID:             DEV-MUC3-0487
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         BRANCH OFFICES 
                DAS OFFICES 
                KG OF DYNAMITE 
                BANK BRANCHES 
                NEIGHBORING STORES 
VICTIM:         PERSONS 

ID:             DEV-MUC3-0501
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     OFFICIAL REPORTS 
PERP ORG:       -
TARGET:         RADIO CADENA NACIONAL 
                BRANCH 
                POLITICAL OFFICE 
                POLITICAL OFFICES 
                LIBERAL PARTY OFFICE 
VICTIM:         -

ID:             DEV-MUC3-0502
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     DRUG TRAFFICKING 
PERP ORG:       -
TARGET:         -
VICTIM:         UNIVERSITY STUDENTS 
                U.S. OFFICIALS 

ID:             DEV-MUC3-0504
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         WAVE OF ATTACKS 
                THESE INSTALLATIONS 
VICTIM:         ALVARO AYALA 

ID:             DEV-MUC3-0528
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         JOSE MARIA MARTINEZ 
                ROBERTO LIZARDI 
                LUIS ROSSI 

ID:             DEV-MUC3-0539
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     COLOMBIAN GUERRILLAS 
PERP ORG:       ELN 
                MARXIST-LENINIST ORIENTED GROUP 
                ARMED STRUGGLE 
                COLOMBIAN OIL ENTERPRISE 
TARGET:         -
VICTIM:         BERROCAL'S WIFE 

ID:             DEV-MUC3-0552
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       LOCAL MILITARY AUTHORITIES 
TARGET:         THEIR HOUSES 
VICTIM:         MEMBERS 
                SHINING PATH MEMBERS 

ID:             DEV-MUC3-0557
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       MRTA CHIEF VICTOR POLAY 
TARGET:         POLICE 
VICTIM:         PEOPLE 

ID:             DEV-MUC3-0559
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAR BOMB 
VICTIM:         -

ID:             DEV-MUC3-0561
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         PRESIDENT 
VICTIM:         GENERAL CARLOS AUGUSTO MORALES 
                FRANCISCO PINTO CASAROLA 
                ROBERTO VALLE 
                POLITICAL LEADERS 

ID:             DEV-MUC3-0565
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
                GOVERNMENT 
TARGET:         -
VICTIM:         WIFE 
                DEFENSELESS WOMEN 
                HER CHILDREN 

ID:             DEV-MUC3-0875
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         MURDERS PRIESTS 
                NUNS 
                POLITICAL LEADERS 
                INTERNATIONAL COMMUNITY 
                SIX JESUIT PRIESTS 
                PRIESTS 

ID:             DEV-MUC3-0876
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         2-MONTH-OLD LABOR CONFLICT 
                PERUVIAN GOVERNMENT 
                POLICE SHOT 
VICTIM:         MEMBERS 

ID:             DEV-MUC3-0887
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       SALVADORAN GOVERNMENT 
                SALVADORAN MINISTER OF CULTURE 
TARGET:         -
VICTIM:         OFFICIALS 
                JUSTICE MINISTER OSCAR SANTAMARIA 
                PRESIDENCY JUAN PADELA 
                PRIESTS 

ID:             DEV-MUC3-0888
INCIDENT:       ATTACK
WEAPON:         BOMBS AND PROJECTILES 
PERP INDIV:     SALVADORAN SITUATION 
PERP ORG:       -
TARGET:         ALL OF US 
                COAST OF MALTA 
VICTIM:         CIVILIANS 
                CATHOLIC PRIESTS 

ID:             TST1-MUC3-0002
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     GUERRILLAS 
PERP ORG:       -
TARGET:         ELECTRIC POWER SUBSTATION 
VICTIM:         -

ID:             TST1-MUC3-0004
INCIDENT:       BOMBING
WEAPON:         EXPLOSIVE MATERIAL 
                ROCKETS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         100 PEOPLE 

ID:             TST1-MUC3-0035
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ARMED FORCES TROOPS 
PERP ORG:       NATIONAL POLICE HEADQUARTERS 
TARGET:         ELECTRICAL SYSTEM 
                UNIVERSITY 
                UNIVERSITY BUILDINGS 
VICTIM:         -

ID:             TST1-MUC3-0036
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         NINE SOLDIERS 
                OF THE SOLDIERS 

ID:             TST1-MUC3-0045
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       ARMED FORCES 
                FORCE 
TARGET:         -
VICTIM:         JUNIOR OFFICERS ' 
                SIX JESUITS 
                ITS MEMBERS 
                COLONEL HECTOR HERIBERTO HERNANDEZ 
                JESUITS ' 
                MORE PERSONS 

ID:             TST1-MUC3-0050
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         PRESIDENT 
                UNIVERSITY COUNCIL 
VICTIM:         OTHER PRIESTS 
                SALVADORAN WOMEN 
                PRIESTS 
                WOMEN 
                PANAMA'S NATIONAL UNIVERSITY 
                OTHER TOWNS 

ID:             TST1-MUC3-0072
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     TERRORIST ATTACKS 
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             TST1-MUC3-0080
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       METROPOLITAN POLICE 
                EXTRADITABLES 
TARGET:         HIS CAR 
VICTIM:         ANY BODYGUARDS 
                FEDERICO ESTRADA VELEZ 

ID:             TST1-MUC3-0092
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN GUERRILLA UNIT 
                FMLN UNITS 
                INFANTRY COMPANY 
                OUR FORCES 
TARGET:         -
VICTIM:         LA UNION DEPARTMENT 

ID:             TST2-MUC4-0010
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         FREEDOM OF THE PRESS 
VICTIM:         -

ID:             TST2-MUC4-0012
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         SPECIAL JUDGE 
                JUDGE CARLOS MENESES PIZARRO 

ID:             TST2-MUC4-0019
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             TST2-MUC4-0044
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         STATE OF APURE 
                MILITARY VEHICLE 
VICTIM:         VENEZUELAN SOLDIERS 
                COLOMBIAN DRUG TRAFFICKING GANGS 
                ALLEGED COLOMBIAN GUERRILLAS 

ID:             TST2-MUC4-0046
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         RADIO CADENA NACIONAL 
                POLICE'S 
                THIS KIND OF ACCIDENT 
                MECHANICAL SYSTEM 
VICTIM:         -

ID:             TST2-MUC4-0051
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         SYSTEM 
VICTIM:         -

ID:             TST2-MUC4-0053
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         NORBERTO RODRIGUEZ 
                RODRIGUEZ DE PEREZ 

ID:             TST2-MUC4-0056
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SANTA ELENA 
PERP ORG:       -
TARGET:         OF THEM 
VICTIM:         -

ID:             TST2-MUC4-0070
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         THOSE OCCUPYING THE EMBASSY 
                GAS 
VICTIM:         PEOPLE 
                AMBASSADOR JESUS FERNANDEZ 
                SALVADORAN TELEVISION JOURNALISTS 
                APPROXIMATELY 50 PEOPLE 
                MEMBERS AND SYMPATHIZERS 
                MURDERED AND MISSING PEOPLE 

ID:             TST2-MUC4-0081
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         MEDELLIN METROPOLITAN POLICE 
                VARIOUS GOVERNMENT BANK BRANCHES 
                OF THESE BOMBS 
VICTIM:         -

ID:             TST2-MUC4-0093
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       FMLN 
                INSURGENT FORCES 
TARGET:         -
VICTIM:         MANY CIVILIANS 

ID:             TST2-MUC4-0095
INCIDENT:       ATTACK
WEAPON:         DEVICES 
PERP INDIV:     -
PERP ORG:       -
TARGET:         GUATEMALAN AIR FORCE INSTALLATIONS 
                AIR FORCE INSTALLATIONS 
VICTIM:         PERSONS WHO LOVE ADVENTURE 
                THESE PEOPLE 

