ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
PERP ORG:       RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                THIS 
                GENERAL 
                BOMBING 
                SAN SALVADOR 'S NEIGHBORHOODS 
                FMLN 
                SALVADORAN ARMED FORCES 
                THIS FIRST 
                INTERIOR 
                COUNTRY 
                DESTRUCTION 
                MANY OTHERS 
                GENOCIDE 
                INFANTRY 
                MASS MURDERS 
                EL MOSOTO 
                AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                U.S. STRATEGY 
                TOP MILITARY COMMAND 
                PAST 10 YEARS 
                PERMANENT REBELLION 
                RURAL AREAS 
                COUNTRY 'S 
                10 NOVEMBER OFFENSIVE 
TARGET:         RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
VICTIM:         RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
                AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                JESUITS ' MURDERS 
                BOMBINGS 
                INTERNATIONAL COMMUNITY 
                OFFICERS 
                THESE INCIDENTS 

ID:             DEV-MUC3-0022
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ALESSANDRO OPPES 
                ARREST 
                SOLDIERS 
                JESUIT PRIESTS 
                MANIPULATED COVER OPERATION 
                THIS 
                MURDER 
                JESUIT FATHERS 
                ISOLATED ACTION 
PERP ORG:       ALESSANDRO OPPES 
                ARREST 
                SOLDIERS 
                JESUIT PRIESTS 
                MANIPULATED COVER OPERATION 
                FACT 
                PRESIDENT CRISTIANI 
                MEMBERS OF THE ARMY 
                MASSACRE 
                FIRST STEP 
                GOOD THING 
                SUBSEQUENT STEPS 
                GUERRILLA OFFENSIVE 
                FMLN 
                STRONG MILITARY FORCE 
                REVOLUTIONARY ATTITUDE 
                MASSES 
                GOVERNMENT ARMY 
                10 YEARS 
                U.S. TRAINING 
                ARMY 
                MILITARY STANCE 
                ALL SHOWS 
                NEGOTIATED SOLUTION 
                CRISIS 
                THIS 
                PARADOX 
                ITS STANCE 
TARGET:         -
VICTIM:         ALESSANDRO OPPES 
                ARREST 
                SOLDIERS 
                JESUIT PRIESTS 
                MANIPULATED COVER OPERATION 
                FACT 
                PRESIDENT CRISTIANI 
                MEMBERS OF THE ARMY 
                MASSACRE 
                FIRST STEP 
                GOOD THING 
                SUBSEQUENT STEPS 
                MURDER 
                ROMERO 
                NO SENTENCES 
                NO TRIALS 
                THIS 
                JESUIT FATHERS 
                ISOLATED ACTION 
                EL SALVADOR 
                10 YEARS 
                CIVIL WAR 
                90 PERCENT OF THEM 
                POLITICAL ASSASSINATION 
                GOVERNMENT FORCES 
                CONSTANT PRACTICE 
                POSITIVE FACTOR 
                CALL 
                FIVE PRESIDENTS 
                RESUMPTION 
                DIALOGUE 
                APPEAL 
                UN SECRETARY 
                THIS END 
                END OF NOVEMBER 
                U.S. SECRETARY 
                STATE 'S ASSISTANT 
                LATIN AMERICA 
                FIRST TIME 
                NEED FOR NEGOTIATIONS 
                CRISIS 
                IMPORTANT SIGN 
                CHANGING SITUATION 

ID:             DEV-MUC3-0026
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SOURCES FROM HIS PARTY 
                HECTOR OQUELI COLINDRES 
                NATIONAL 
                VEHICLE 
                HEAVILY ARMED MEN 
                CIVILIAN CLOTHING 
                MNR SPOKESMEN 
                GUATEMALAN POLICE 
                MEMBER 
                ITS OCCUPANTS 
PERP ORG:       MNR SPOLESMAN 
                OQUELI COLINDRES 
                AIRPORT 
                GUATEMALA CITY 
                FLIGHT 
                SOCIALIST INTERNATIONAL DELEGATION 
                ELECTORAL CAMPAIGN 
TARGET:         -
VICTIM:         SAN SALVADOR 
                SALVADORAN GOVERNMENT 
                DISAPPEARANCE 
                THIS MORNING IN GUATEMALA 
                NECESSARY EFFORTS 
                DIPLOMATIC CHANNELS 
                MORE INFORMATION 
                CASE 
                SOURCES FROM HIS PARTY 
                HECTOR OQUELI COLINDRES 
                NATIONAL 
                VEHICLE 
                HEAVILY ARMED MEN 
                CIVILIAN CLOTHING 

ID:             DEV-MUC3-0028
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SAN SALVADOR 
                MASTERMINDS 
                SIX JESUIT PRIESTS 
                SOLDIERS OR LIEUTENANTS 
                HIERARCHY 
                STATE POWER COMPANY 
                DECISION 
                PRESIDENT ALFREDO CRISTIANI 
                ARMED FORCES 
                WOMEN 
                SALVADORAN MILITARY MEN 
                THEIR RIFLES 
                POWER 
                THEIR WEAPONS 
PERP ORG:       STATE POWER COMPANY 
                DECISION 
                PRESIDENT ALFREDO CRISTIANI 
                ARMED FORCES 
                SIX JESUIT PRIESTS 
                WOMEN 
                EL SALVADOR 
                MILITARY POWER 
                REAL POWER 
                MILITARY MAN 
                PURGE 
                SUCH ELEMENTS 
TARGET:         -
VICTIM:         SAN SALVADOR 
                MASTERMINDS 
                SIX JESUIT PRIESTS 
                SOLDIERS OR LIEUTENANTS 
                HIERARCHY 
                GENERAL OR COLONEL 
                THIS CRIME 
                RANKING LEADER 
                RULING ARENA 
                RETIRED OFFICER 
                TELEVISED INTERVIEW 
                THIS MULTIPLE MURDER 
                THIS ACTION 
                MUCH HIGHER LEVEL OFFICERS 
                CULPRITS 
                STATE POWER COMPANY 
                DECISION 
                PRESIDENT ALFREDO CRISTIANI 
                ARMED FORCES 
                WOMEN 
                MILITARY PERSONNEL 
                JESUITS 
                THEIR COOK 
                COOK 'S 

ID:             DEV-MUC3-0036
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     INCIDENT 
                PARAMILITARY GROUPS 
                BOTH COUNTRIES 
                PERPETRATORS 
                OQUELI 'S ARRIVAL 
                ENTIRE OPERATION 
                HIS WAY 
                LA AURORA AIRPORT 
                PLANE 
                HEAVILY ARMED MEN 
                MNR 
PERP ORG:       DEATHS 
                VALUABLE PERSONS 
                THIS ACT OF VIOLENCE 
                NOTE 
                INCIDENT 
                PARAMILITARY GROUPS 
                BOTH COUNTRIES 
                PERPETRATORS 
                OQUELI 'S ARRIVAL 
                ENTIRE OPERATION 
TARGET:         -
VICTIM:         GUATEMALA CITY 
                GUATEMALAN FOREIGN MINISTRY 
                ASSASSINATION 
                FOREIGN MINISTRY COMMUNIQUE 
                ASSISTANT SECRETARY 
                SOCIALIST INTERNATIONAL 
                LATIN AMERICA 
                CARIBBEAN 
                DEPUTY SECRETARY GENERAL 
                NATIONAL REVOLUTIONARY MOVEMENT 
                LEFTIST MOVEMENT 
                EL SALVADOR 
                DEATHS 
                VALUABLE PERSONS 
                THIS ACT OF VIOLENCE 
                NOTE 
                DOCUMENT 
                FIRST OFFICIAL REACTION 
                KIDNAPPING AND ASSASSINATION 
                GILDA FLORES 
                ACTIVE MEMBER 
                DEMOCRATIC SOCIALIST PARTY 
                SECRETARY GENERAL MARIO SOLORZANO 
                SALVADORAN PARAMILITARY GROUPS 
                ACTIONS IN THIS COUNTRY 

ID:             DEV-MUC3-0044
INCIDENT:       ATTACK
WEAPON:         PANAMA CITY 
                SMALL TRUCK 
                SALVADORAN PRESIDENTIAL HOUSE 
                MILITARY SOURCE 
                HANDMADE CATAPULTS 
                APPROXIMATELY 7 
                1745 GMT 
                NATIONAL POLICEMEN 
                ARMY 
                THESE DEVICES 
                TERRORIST WEAPONS 
                CAR BOMBS 
PERP INDIV:     GUERRILLAS 
                `` MOBILE 
                ARMED PLATFORMS 
                MEDIEVAL CATAPULTS 
                PARTS 
                FUSE 
                MAIN CHARGE 
PERP ORG:       -
TARGET:         ARMY 
                THESE DEVICES 
                TERRORIST WEAPONS 
                CAR BOMBS 
VICTIM:         PANAMA CITY 
                SMALL TRUCK 
                SALVADORAN PRESIDENTIAL HOUSE 
                MILITARY SOURCE 

ID:             DEV-MUC3-0051
INCIDENT:       ATTACK
WEAPON:         BOMB 
                PILMAIQUEN ALLEY 
                WINDOWS AND WATER PIPES 
                UNOFFICIAL REPORTS 
                125 TO 150 GRAMS 
                BACK 
                EXPLOSION 
                PANIC BUT NO CASUALTIES 
PERP INDIV:     BOMB 
                INDIVIDUALS 
                SPORTS CLOTHES 
                NIGHT 
PERP ORG:       -
TARGET:         BOMB 
                PILMAIQUEN ALLEY 
                WINDOWS AND WATER PIPES 
                UNOFFICIAL REPORTS 
                125 TO 150 GRAMS 
                BACK 
                EXPLOSION 
                PANIC BUT NO CASUALTIES 
                INDIVIDUALS 
                SPORTS CLOTHES 
                NIGHT 
VICTIM:         BOMB 
                PILMAIQUEN ALLEY 
                WINDOWS AND WATER PIPES 
                EXPLOSION 
                PANIC BUT NO CASUALTIES 
                INDIVIDUALS 
                SPORTS CLOTHES 
                NIGHT 

ID:             DEV-MUC3-0061
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SUPREME COURT 
                MURDERERS 
                ROMERO 
                MAJOR ROBERTO D'AUBUISSON 
PERP ORG:       -
TARGET:         THESE NEW RESOLUTIONS 
                ROMERO 'S CASE 
                REQUEST 
                ATTORNEY GENERAL 'S 
                ATTORNEY GENERAL 
                UNDERTAKER 
VICTIM:         SAN SALVADOR 
                LAST NIGHT 
                GOVERNMENT 
                RESULTS 
                NUMBER OF INVESTIGATIONS 
                MURDER 
                ARNULFO ROMERO 
                ATTORNEY GENERAL 
                EVIDENCE 
                ANY PERSON 
                THEIR CONTENT 
                OPINION 
                MATTER 
                LEGAL EVIDENCE 
                SERIES OF CONDITIONS 
                JUDGE 
                VIDEO FOR EXAMPLE 
                CONTENTS 
                VIDEO 
                PERSONS 
                WAY OR ANOTHER 
                PREPARATION 
                ACCURACY 
                THAT VIDEO 
                END RECORDING 
                GARCIA ALVARADO 
                FEW HOURS 
                CASE 
                CHARGE OF THE CASE 
                SUMMONS 
                IVON FLORES 
                SWORN STATEMENTS 
                TWO OFFICIALS 
                SUPREME COURT 
                MURDERERS 
                ROMERO 
                MAJOR ROBERTO D'AUBUISSON 
                VICE PRESIDENT 
                LEGISLATIVE ASSEMBLY 
                THOSE GUILTY 

ID:             DEV-MUC3-0077
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         COLOMBIAN INDUSTRIALIST NORMAL ECHEVARRIA 
                U.S. BUSINESSMAN MICHAEL REYFF 
                11 DAYS 
                COLONEL OTALORA 
                ASSISTANT COMMANDER 
                MEDELLIN METROPOLITAN POLICE 
                U.S. CITIZEN MICHAEL REYFF 
                MEDELLIN METROPOLITAN POLICE MEMBERS 
                NORMAL ECHEVARRIA 
                MR ECHEVARRIA 

ID:             DEV-MUC3-0102
INCIDENT:       ATTACK
WEAPON:         INFORMATION 
                FMLN GENERAL COMMAND 
                DECISION 
                LATEST ACTIONS 
                COUNTRY 
                ATTACK 
                DEATH 
                10 UNION MEMBERS 
PERP INDIV:     FMLN 
                MEETING 
                GOVERNMENT 
                CARACAS , VENEZUELA , 
                EVENTS 
                RECENT DAYS 
                KILLING 
                10 LABOR UNION MEMBERS 
                FENASTRAS HEADQUARTERS 
                TUESDAY , 31 
PERP ORG:       SAN SALVADOR 
                RADIO CADENA YSKL 
                CADENA YSKL 'S 
                TELEPHONE CALL 
                FMLN 
                INFORMATION 
                FMLN GENERAL COMMAND 
                DECISION 
                LATEST ACTIONS 
                COUNTRY 
                ATTACK 
                DEATH 
                10 UNION MEMBERS 
                MEETING 
                GOVERNMENT 
                CARACAS , VENEZUELA , 
                EVENTS 
                RECENT DAYS 
                KILLING 
                10 LABOR UNION MEMBERS 
                FENASTRAS HEADQUARTERS 
                TUESDAY , 31 
TARGET:         INFORMATION 
                FMLN GENERAL COMMAND 
                DECISION 
                LATEST ACTIONS 
                COUNTRY 
                ATTACK 
                DEATH 
                10 UNION MEMBERS 
                FMLN 
                MEETING 
                GOVERNMENT 
                CARACAS , VENEZUELA , 
                EVENTS 
                RECENT DAYS 
                KILLING 
                10 LABOR UNION MEMBERS 
                FENASTRAS HEADQUARTERS 
                TUESDAY , 31 
VICTIM:         INFORMATION 
                FMLN GENERAL COMMAND 
                DECISION 
                LATEST ACTIONS 
                COUNTRY 
                ATTACK 
                DEATH 
                10 UNION MEMBERS 
                FMLN 
                MEETING 
                GOVERNMENT 
                CARACAS , VENEZUELA , 
                EVENTS 
                RECENT DAYS 
                KILLING 
                10 LABOR UNION MEMBERS 
                FENASTRAS HEADQUARTERS 
                TUESDAY , 31 

ID:             DEV-MUC3-0115
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     RURAL AREA 
                EL PENON MUNICIPALITY 
                CUNDINAMARCA DEPARTMENT 
                ARMED GROUP 
                PEASANTS 
                AREA 
PERP ORG:       -
TARGET:         -
VICTIM:         RURAL AREA 
                EL PENON MUNICIPALITY 
                CUNDINAMARCA DEPARTMENT 
                ARMED GROUP 
                PEASANTS 
                AREA 
                REPORTS BY THE AUTHORITIES 
                CORPSES 
                FIVE PEASANTS 
                VILLAGE OUTSKIRTS 
                VICTIMS 
                JOSE MANUEL JIMENEZ RIVERA 
                PEDRO RAFAEL JIMENEZ CORTEZ 
                JOSE LACIDES ORDONEZ 
                JOSE ISAAC FORERO LINARES 
                PEDRO RAFAEL ORDONEZ 

ID:             DEV-MUC3-0117
INCIDENT:       ATTACK
WEAPON:         SANTA FE 
                EARLY THIS MORNING 
                HOUSE 
                JUDGE GUILLERMO TORRE ALDAY 
                OFFICES OF LAWYER 
                LUIS ROSSMAN 
                FORMER DIRECTOR 
                TWO BOMBS 
                ONLY MINUTES 
                MINOR DAMAGE 
                WALLS 
                TWO PREMISES 
                THIS AFTERNOON SOURCES 
                INVESTIGATION 
                INTENTION 
                TORRE ALDAY AND ROSSMAN 
                PROVINCIAL BANK 
                GOVERNOR JOSE VERNET 'S 
PERP INDIV:     ATTACKS 
                INTENTION 
                BOTH MEN 
PERP ORG:       -
TARGET:         SANTA FE 
                EARLY THIS MORNING 
                HOUSE 
                JUDGE GUILLERMO TORRE ALDAY 
                OFFICES OF LAWYER 
                LUIS ROSSMAN 
                FORMER DIRECTOR 
                TWO BOMBS 
                ONLY MINUTES 
                MINOR DAMAGE 
                WALLS 
                TWO PREMISES 
                SEVERAL MEMBERS 
                BOMB SQUAD 
                LOCAL POLICE 
                EXCLUSIVE PURPOSE 
                OWNERS 
                PREMISES 
                THIS AFTERNOON SOURCES 
                INVESTIGATION 
                INTENTION 
                TORRE ALDAY AND ROSSMAN 
                PROVINCIAL BANK 
                GOVERNOR JOSE VERNET 'S 
                JUDGE PUYOL 
                HIS INVESTIGATION 
                TWO CASES 
                SOME MEMBERS 
                ANY POLITICAL IMPLICATIONS 
VICTIM:         SANTA FE 
                EARLY THIS MORNING 
                HOUSE 
                JUDGE GUILLERMO TORRE ALDAY 
                OFFICES OF LAWYER 
                LUIS ROSSMAN 
                FORMER DIRECTOR 

ID:             DEV-MUC3-0118
INCIDENT:       ATTACK
WEAPON:         ATTACK 
                BOMBS 
                SOVIET NEWSMAN 'S 
                RESIDENTIAL AREA 
                THIS CITY 
                EXPLOSIVE DEVICES 
                AUTOMOBILE 
                ENTRANCE AND WINDOWS 
                HOME 
                TRUSHIN 'S 
PERP INDIV:     CIVILIANS 
                CEREZO AREVALO GOVERNMENT 
                COUP ATTEMPT 
PERP ORG:       GUATEMALA CITY 
                GUATEMALA 'S CLANDESTINE ORGANIZATION 
                SECRET ANTICOMMUNIST ARMY 
                WEDNESDAY 'S TERRORIST ATTACK 
                RESIDENCE AND OFFICE 
                ALEKSANDR TRUSHIN 
                TASS CORRESPONDENT IN GUATEMALA 
                ESA BULLETIN 
                NEWS MEDIA 
                ATTACK 
                SOVIET NEWS AGENCY 
                SOCIALIST-LEANING MEASURES '' 
                COMMUNIQUE 
                PARAMILITARY ORGANIZATION 
                1960 'S , 
                COMMUNIST AGGRESSION 
                ITS DEFEAT 
                ISSUANCE 
                ARREST WARRANTS 
                MARIO DAVID GARCIA 
                DANILO ROCA 
                NICOLAS BUONAFINA 
                GUSTAVO ANZUETO VIELMAN 
                MARIO CASTEJON 
TARGET:         GUATEMALA CITY 
                GUATEMALA 'S CLANDESTINE ORGANIZATION 
                SECRET ANTICOMMUNIST ARMY 
                WEDNESDAY 'S TERRORIST ATTACK 
                RESIDENCE AND OFFICE 
                ALEKSANDR TRUSHIN 
                TASS CORRESPONDENT IN GUATEMALA 
                ENTRANCE AND WINDOWS 
                HOME 
                TRUSHIN 'S 
VICTIM:         GUATEMALA CITY 
                GUATEMALA 'S CLANDESTINE ORGANIZATION 
                SECRET ANTICOMMUNIST ARMY 
                WEDNESDAY 'S TERRORIST ATTACK 
                RESIDENCE AND OFFICE 
                ALEKSANDR TRUSHIN 
                TASS CORRESPONDENT IN GUATEMALA 
                DOCUMENT 
                THIS 
                WARNING 
                ARREST WARRANTS 
                FIVE CIVILIANS 
                ABORTIVE 11 
                GUATEMALAN CHRISTIAN DEMOCRACY 
                RULING PARTY 
                HIS WIFE 
                UBICO TOROKZIK 
                RAFAEL NETANAGIUHI 
                FOREIGN MINISTER ALFONSO CABRERA 
                PRESIDENT VINICIO CEREZO AREVALO 
                COUP 
                THIS GROUP 
                ATTEMPT 
                `` PLOY 
                GEN HECTOR GRAMEJO 

ID:             DEV-MUC3-0126
INCIDENT:       ATTACK
WEAPON:         SAN SALVADOR 
                URBAN GUERILLAS 
                PRESIDENCY 
                MORTAR FIRE TONIGHT 
                SOME DAMAGE 
                NO CASUALTIES 
                INITIAL OFFICIAL REPORTS 
PERP INDIV:     ATTACK 
PERP ORG:       SAN SALVADOR 
                URBAN GUERILLAS 
                PRESIDENCY 
                MORTAR FIRE TONIGHT 
                SOME DAMAGE 
                NO CASUALTIES 
                INITIAL OFFICIAL REPORTS 
                ATTACK 
TARGET:         SAN SALVADOR 
                URBAN GUERILLAS 
                PRESIDENCY 
                MORTAR FIRE TONIGHT 
                SOME DAMAGE 
                NO CASUALTIES 
                INITIAL OFFICIAL REPORTS 
                PRESIDENT JOSE NAPOLEON DUARTE 
                HIS OFFICE 
                TIME 
                ATTACK 
VICTIM:         PRESIDENT JOSE NAPOLEON DUARTE 
                HIS OFFICE 
                TIME 
                ATTACK 

ID:             DEV-MUC3-0134
INCIDENT:       ATTACK
WEAPON:         JUST A FEW MINUTES 
                BOMBS 
                EASTERN END 
                CENTRAL MARKET 
PERP INDIV:     -
PERP ORG:       -
TARGET:         JUST A FEW MINUTES 
                BOMBS 
                EASTERN END 
                CENTRAL MARKET 
VICTIM:         TELEPHONE 
                LISTENER 
                EXPLOSIONS 
                AT LEAST FIVE PERSONS 
                PERSONS 
                THIS TERRORIST ATTACK 
                WOUNDED 
                CHILD 
                WOMAN 
                RED CROSS PERSONNEL 
                ROSALES HOSPITAL 
                MARKET 'S 
                FRUIT STANDS 
                MAN WORKING THERE 
                BOMBS 
                ALL THE WOUNDED 
                HOSPITAL 

ID:             DEV-MUC3-0139
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     CLOSE ATTENTION 
                NIGHT 
                REPORTERS 
                COWARDLY SHOT IN SOYAPANGO 
                LAST NIGHT 
                REPORTER ROBERTO NAVAS 
                LUIS GALDAMEZ 
                TROOPS OF THE DICTATORSHIP 
                THIS NEW COWARDLY ACTION 
                VIDES CASANOVA 'S TROOPS 
                COMMANDING OFFICERS 
                AREA 
                SOYAPANGO AT APPROXIMATELY 2200 
                SOYAPANGO RESIDENTS 
                JUAN RAFAEL BUSTILLO 'S 
                SOWING TERROR 
                THAT DENSELY POPULATED AREA 
                MOTORCYCLE 
                APPROXIMATELY 2200 
                VICTIMS OF INDISCRIMINATE SHOOTING 
                JOURNALIST ROBERTO NAVAS 
                RESULT 
                SHOOTING 
                JOSE NAPOLEON DUARTE 'S 
                INDISCRIMINATE SHOOTING 
                PRIVATE VEHICLES 
                RED CROSS VEHICLES 
                COWARDLY ACTIONS 
                REPRESSIVE FRAMEWORK 
                19 MARCH ELECTION 
PERP ORG:       -
TARGET:         -
VICTIM:         RADIO FARABUNDO MARTI 
                DICTATORSHIP 
                ANOTHER COWARDLY ACTION 
                CLOSE ATTENTION 
                NIGHT 
                REPORTERS 
                COWARDLY SHOT IN SOYAPANGO 
                LAST NIGHT 
                REPORTER ROBERTO NAVAS 
                LUIS GALDAMEZ 
                TROOPS OF THE DICTATORSHIP 
                THREATS 
                AREA 
                SOYAPANGO AT APPROXIMATELY 2200 
                MOTORCYCLE 
                APPROXIMATELY 2200 
                VICTIMS OF INDISCRIMINATE SHOOTING 
                JOURNALIST ROBERTO NAVAS 
                RESULT 
                SHOOTING 
                JOSE NAPOLEON DUARTE 'S 
                ROBERTO NAVAS 

ID:             DEV-MUC3-0165
INCIDENT:       ATTACK
WEAPON:         POWERFUL BOMB 
                INSTITUTE 'S 
                CAR PARKED NEARBY 
PERP INDIV:     -
PERP ORG:       -
TARGET:         7 APR 
                DOMESTIC SERVICE 
                BOMB ATTACK 
                CHILEAN 
                U.S. CULTURAL INSTITUTE 
                CONSIDERABLE DAMAGE 
                SHOCK WAVE 
                INSTITUTE 'S WINDOWS 
                SEVERAL NEARBY HOUMES 
                CHILEAN-U.S. CULTURAL INSTITUTE 
                1475 MONEDA STREET 
                CENTER 
                DONWTOWN SANTIAGO 
                POWERFUL BOMB 
                INSTITUTE 'S 
                CAR PARKED NEARBY 
                ALL THE GLASS 
                CAR 
                LICENCE PLATE NO 
VICTIM:         7 APR 
                DOMESTIC SERVICE 
                BOMB ATTACK 
                CHILEAN 
                U.S. CULTURAL INSTITUTE 
                CONSIDERABLE DAMAGE 

ID:             DEV-MUC3-0169
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       INJURED PERSONS 
                LUIS VERNAZA HOSPITAL 
TARGET:         11 APR 
                RADIO QUITO 
                MARCH 
                HIS SUPPORTERS 
                PLACE IN GUAYAQUIL 
                MAJOR INCIDENT 
                SMALL GROUP 
                NATIONAL POLICE 
                OCTOBER AVENUE 
                SITE 
                DISTURBANCE 
                HIS WIFE 
                HIS CLOSE SUPPORTERS 
                PORT CITY 'S 
                FEW MINUTES 
                REPORTS FROM HIS NEIGHBORS 
                HIS HOUSE 
                DEMONSTRATORS 
                THEIR MARCH 
                POLICE 
                USE 
                GAS AND WATER 
                FEBRES CORDERO 'S WIFE 
                SHORT DISTANCE 
                HER HUSBAND 
VICTIM:         11 APR 
                RADIO QUITO 
                MARCH 
                HIS SUPPORTERS 
                PLACE IN GUAYAQUIL 
                MAJOR INCIDENT 
                SMALL GROUP 
                NATIONAL POLICE 
                OCTOBER AVENUE 
                SITE 
                DISTURBANCE 
                INJURED PERSONS 
                LUIS VERNAZA HOSPITAL 
                POLICEMAN CASTRO ROMAN 
                OF THE DEMONSTRATORS 
                DEMONSTRATION 
                LEON FEBRES CORDERO 'S 
                VERY SMALL GROUP 

ID:             DEV-MUC3-0182
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     MANIPULATIONS 
PERP ORG:       SAN SALVADOR 
                20 APR 
                RADIO CADENA YSU 
                THIS MORNING 'S ATTACK 
                GROUP 
                ATTACK 
                THIS 
                TELEPHONE CALL 
                RADIO CADENA YSU 'S 
                THIS NEW GROUP 
TARGET:         SAN SALVADOR 
                20 APR 
                RADIO CADENA YSU 
                THIS MORNING 'S ATTACK 
                GROUP 
                ATTACK 
VICTIM:         SAN SALVADOR 
                20 APR 
                RADIO CADENA YSU 
                THIS MORNING 'S ATTACK 
                GROUP 
                ATTACK 
                TELEPHONE CALL 
                OUR COLLEAGUES 
                PRESS DEPARTMENT 
                PERSON 
                MEMBER 
                MANIPULATIONS 
                THIS 
                RADIO CADENA YSU 'S 
                THIS NEW GROUP 

ID:             DEV-MUC3-0197
INCIDENT:       ATTACK
WEAPON:         DATE NEWS 
                SCENE 
                INCIDENT 
                SHOOTING VIDEO FOOTAGE 
                EXTENSIVE DAMAGE 
                BOMBS 
                U.S. EMBASSY EMPLOYEES 
                CAMERAMAN 
                HIS ASSISTANT 
                THIS POINT 
                CAMERA 
                FLOOR 
PERP INDIV:     DATE NEWS 
                SCENE 
                INCIDENT 
                SHOOTING VIDEO FOOTAGE 
                EXTENSIVE DAMAGE 
                BOMBS 
                U.S. EMBASSY EMPLOYEES 
                CAMERAMAN 
                HIS ASSISTANT 
PERP ORG:       -
TARGET:         EXPLOSION 
                U.S. EMBASSY WAREHOUSE 
                SAN ANTONIO ABAD STREET 
                APPROXIMATELY 1940 
                BOMB 
                SAN SALVADOR 
                VIDEO EQUIPMENT 
                THIS POINT 
                CAMERA 
                FLOOR 
VICTIM:         SAN SALVADOR 
                CANAL DOCE TELEVISION 
                DATE NEWS 
                U.S. EMBASSY EMPLOYEES 
                NEWSMEN 
                REPORT 
                EXPLOSION 
                BOMBS 
                BUILDING 
                EMBASSY 
                U.S. EMBASSY WAREHOUSE 
                SAN ANTONIO ABAD STREET 
                APPROXIMATELY 1940 
                BOMB 

ID:             DEV-MUC3-0213
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       PEOPLE 
                THIS CASE 
                EVENING OF 24 
                U.S. CITIZENS 
                RELIGIOUS ORGANIZATION 
                DOWNTOWN LA PAZ 
                SAME THING 
                NATIONAL LIBERATION ARMY 
                1960 'S 
                ITS IDENTITY 
                THEIR INTERNATIONAL IDENTITY 
                MANY BOLIVIANS 
                INTERIOR MINISTER 
                EXISTENCE 
                SHINING PATH MEMBERS 
                CRIMINAL CASES 
                POLICE 
                COMMON CRIMINALS 
                WORLD 
                DRUG ADDITION 
                DRUG TRAFFICKING 
                THOSE CRIMES 
                THIS 
                REAL BOLIVIAN STRUGGLE 
                OUR PROCESS 
                FUTURE 
                OUR CHILDREN 
                FATHERLAND 
TARGET:         THIS STATEMENT 
                MURDER 
                U.S. MISSIONARIES 
                LAST WEDNESDAY 
                TWO MISSIONARIES 
                LA PAZ 
                INTERIOR MINISTER 
                NO ONE 
                INVESTIGATIONS 
                INTELLIGENCE SERVICES 
VICTIM:         THIS STATEMENT 
                MURDER 
                U.S. MISSIONARIES 
                LAST WEDNESDAY 
                PEOPLE 
                THIS CASE 
                EVENING OF 24 
                U.S. CITIZENS 
                RELIGIOUS ORGANIZATION 
                DOWNTOWN LA PAZ 
                INTERIOR MINISTER 
                THIS ALLEGED ORGANIZATION 
                NO TIES 
                PERUVIAN SHINING PATH 
                TERRORIST GROUP 
                TWO MISSIONARIES 
                LA PAZ 
                NO ONE 
                INVESTIGATIONS 
                INTELLIGENCE SERVICES 
                THESE MURDER CASES 
                EXECUTIVE BRANCH 
                THIS 
                REAL BOLIVIAN STRUGGLE 
                OUR PROCESS 
                FUTURE 
                OUR CHILDREN 
                FATHERLAND 

ID:             DEV-MUC3-0225
INCIDENT:       ATTACK
WEAPON:         THIS 
                OPEN LETTER 
                NATION 'S 
                TOP PROSECUTOR 
                GOMEZ MENDEZ 
                FEW HOURS 
                ATTACK 
PERP INDIV:     SECRET POLICE 
                `` NARCOMILITARY '' ORGANIZATIONS 
                CAR-BOMB ATTACK 
                GENERAL 
                ATTORNEY GENERAL 
                FULL INVESTIGATION 
                ARRESTED MEN 
                DOCUMENTS 
                SAFETY 
                TWO ARRESTED MEN 
                PLAN 
                THEIR LIVES 
                MILITARY MAN 
                HIS CONFIDENCE 
                MATERIAL 
                IDENTITY 
                PLANNERS AND PERPETRATORS 
                THIS ATTACK 
                MANY POLITICAL CRIMES 
PERP ORG:       -
TARGET:         TERRORIST ACTION 
                DOWNTOWN BOGOTA STREET 
                PEDESTRIANS 
                SEVERAL OTHERS 
                HIS LETTER 
                ATTORNEY GENERAL 
                PARAMILITARY GROUPS 
                TRAFFICKING ORGANIZATION 
                POLITICAL INTERESTS 
                `` CORRUPTING OFFICIALS 
VICTIM:         SECRET POLICE 
                `` NARCOMILITARY '' ORGANIZATIONS 
                CAR-BOMB ATTACK 
                TERRORIST ACTION 
                DOWNTOWN BOGOTA STREET 
                PEDESTRIANS 
                SEVERAL OTHERS 
                GEN MAZA 
                NATIONAL POLICE 
                CIVILIAN JOSE JAVIER RIVERA 
                RIGHT-WING PARAMILITARY GROUPS 
                TODAY 'S ATTACK 
                OTHER POLITICAL CRIMES 

ID:             DEV-MUC3-0231
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     POLICE 
                IDENTI-KIT 
                ALLEGED MURDERERS 
                DESCRIPTION OF WITNESSES 
PERP ORG:       ANYONE REPORTING ON EXTREMISTS 
TARGET:         -
VICTIM:         LA PAZ 
                LA RED PANAMERICANA 
                GENERAL MARIO MOLINA 
                BOLIVIAN POLICE 
                COUNTRY 
                EFFECTS 
                PSYCHOLOGICAL TERRORISM 
                EXTREMIST GROUPS 
                GEN MOLINA 
                POLICE 
                MURDER 
                AMERICAN CITIZENS 
                AID 
                U.S. EXPERTS 
                BOLIVIA POLICE 
                LOGISTIC AND SCIENTIFIC SUPPORT 
                POLICE CHIEF 
                SCENE 
                BALLISTIC AND LABORATORY EXAMINATIONS 

ID:             DEV-MUC3-0239
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SAN JOSE 
                COSTA RICA 
                ASSASSINATION 
                ANTONIO RODRIGUEZ PORTH 
                SALVADORAN MINISTER 
                PRESIDENCY 
                SUSPECTED URBAN GUERRILLAS 
                EARLY THIS MORNING 
                SAN SALVADOR 
PERP ORG:       SAN JOSE 
                COSTA RICA 
                ASSASSINATION 
                ANTONIO RODRIGUEZ PORTH 
                SALVADORAN MINISTER 
                PRESIDENCY 
                SUSPECTED URBAN GUERRILLAS 
                EARLY THIS MORNING 
                SAN SALVADOR 
TARGET:         RODRIGUEZ PORTH 
                1415 GMT 
                HIS HOME 
                SAN SALVADOR 
                HIS BODYGUARDS 
                ONLY 8 DAYS 
                OFFICE ON 1 
VICTIM:         SAN JOSE 
                COSTA RICA 
                ASSASSINATION 
                ANTONIO RODRIGUEZ PORTH 
                SALVADORAN MINISTER 
                PRESIDENCY 
                SUSPECTED URBAN GUERRILLAS 
                EARLY THIS MORNING 
                SAN SALVADOR 
                INCREASED VIOLENCE 
                THAT COUNTRY 
                RODRIGUEZ PORTH 
                INFLUENTIAL LEADER 
                RULING 
                NATIONALIST REPUBLICAN ALLIANCE 
                GUERRILLAS 
                SALVADORAN CONFLICT 
                ALMOST 10 YEARS 
                1415 GMT 
                HIS HOME 
                HIS BODYGUARDS 
                ONLY 8 DAYS 
                OFFICE ON 1 
                HIS PART 
                LUIS GUILLERMO SOLIS 
                SITUATION 
                EL SALVADOR 
                AGREEMENT 
                POLITICAL FORCES 

ID:             DEV-MUC3-0241
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       RODRIGUEZ PORTH 
                ALLEGED URBAN GUERRILLAS 
                HIS RESIDENCE 
                SALVADORAN POLICE REPORTS 
TARGET:         RODRIGUEZ PORTH 
                ALLEGED URBAN GUERRILLAS 
                HIS RESIDENCE 
                SALVADORAN POLICE REPORTS 
VICTIM:         HONDURAN GOVERNMENT 
                ASSASSINATION 
                ATTACK 
                HIS BODYGUARD AND DRIVER 
                SAN SALVADOR 
                THIS 
                COUNTRY 
                PEOPLE 
                THEIR LEADERS 
                RODRIGUEZ PORTH 
                ALLEGED URBAN GUERRILLAS 
                HIS RESIDENCE 
                SALVADORAN POLICE REPORTS 
                PRESIDENCY MINISTER 
                2 HOURS 
                ALFREDO CRISTIANI 'S 

ID:             DEV-MUC3-0243
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       THIS ACTION 
                LEFTIST URBAN COMMANDOS 
                FMLN 
                ULTRARIGHTIST FACTIONS 
                FURTHER POLARIZATION AND BLOODLETTING 
TARGET:         -
VICTIM:         SAN SALVADOR 
                RADIO CADENA SONORA 
                DR EDUARDO COLINDRES 
                CHRISTIAN DEMOCRATIC PARTY 
                PDC 
                ASSASSINATION 
                ITS CONDOLENCES 
                REPUBLIC 'S GOVERNMENT 
                NATIONALIST REPUBLICAN ALLIANCE 
                RODRIGUEZ ' GRIEVING FAMILY 
                THIS 
                PDC 'S POSITION 
                CONDEMNABLE ASSASSINATION 
                DR ANTONIO RODRIGUEZ PORTH 
                ESCALATION OF VIOLENCE 
                EXTREME RIGHT 
                ANY OTHER INCIDENT 
                MORE BLOODLETTING 
                SALVADORAN PEOPLE 
                PDC 'S OPINION 
                ROLE 
                ARMED FORCES 
                WAKE 
                DR RODRIGUEZ PORTH 'S 

ID:             DEV-MUC3-0253
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NEWS CONFERENCE 
                COMMANDER BAYARDO ARCE 
                VICE COORDINATOR 
                EXECUTIVE COMMISSION 
                CHARGES 
                SAN SALVADOR 
                COMMANDO 
                RODRIGUEZ PORTH 
                SALVADORAN ARMED FORCES 
TARGET:         -
VICTIM:         RADIO SANDINO 
                ANY LINKS 
                ASSASSINATION 
                8 DAYS 
                ALLEGATION 
                SALVADORAN ARMY 

ID:             DEV-MUC3-0260
INCIDENT:       ATTACK
WEAPON:         BOMB 
                MARVIN SODA SHOP 
                SOUTHERN ENTRANCE 
                MARKET 
PERP INDIV:     -
PERP ORG:       -
TARGET:         BOMB 
                MARVIN SODA SHOP 
                SOUTHERN ENTRANCE 
                MARKET 
VICTIM:         SAN SALVADOR 
                RADIO CADENA SONORA 
                TERRORIST ATTACK 
                THIS EXPLOSION 
                37 PERSONS , SOME 
                FORCE 
                EXPLOSION 
                SHRAPNEL 
                MANY PEOPLE 
                PERSON 
                SERIOUS HEAD WOUNDS 
                SERIOUS ABDOMINAL WOUNDS 

ID:             DEV-MUC3-0261
INCIDENT:       ATTACK
WEAPON:         HURLING 
                BOMB 
                CENTRAL MARKET 
                TERRORIST ACTION 
                ARENA 
PERP INDIV:     -
PERP ORG:       RADIO VENCEREMOS 
                FARABUNDO MARTI NATIONAL LIBERATION 
                TERRORIST ATTACK 
                2 PEOPLE 
                30 WOUNDED 
                FMLN REPORTS 
                ALL SALVADORANS THE FOLLOWING 
                HURLING 
                BOMB 
                CENTRAL MARKET 
                TERRORIST ACTION 
                ARENA 
                SAN SALVADOR 
TARGET:         HURLING 
                BOMB 
                CENTRAL MARKET 
                TERRORIST ACTION 
                ARENA 
VICTIM:         RADIO VENCEREMOS 
                FARABUNDO MARTI NATIONAL LIBERATION 
                TERRORIST ATTACK 
                2 PEOPLE 
                30 WOUNDED 
                FMLN REPORTS 
                ALL SALVADORANS THE FOLLOWING 
                THIS ACTION 
                COLD-BLOODED PLAN 
                CRIMINAL ACTIONS 
                PUBLIC PLACES 
                FMLN 
                SAN SALVADOR 

ID:             DEV-MUC3-0263
INCIDENT:       ATTACK
WEAPON:         ATTACK 
                APPROXIMATELY 2200 
                MEN 
                MOTORCYCLE 
                5 KG OF DYNAMITE 
                THIS 
                FIFTH DYNAMITE ATTACK 
                PACIFIC PIPELINE 
                ELN 
                VALLE DEL CAUCA DEPARTMENT 
                PAST 6 MONTHS 
PERP INDIV:     ATTACK 
                APPROXIMATELY 2200 
                MEN 
                MOTORCYCLE 
                5 KG OF DYNAMITE 
PERP ORG:       INRAVISION TELEVISION CADENA 
                ZORAIDA CAICEDO 
                CAMILIST UNION 
                NATIONAL LIBERATION ELN 
                NEW ATTACK 
                PACIFIC OIL PIPELINE 
                MULALO , YUMBO MUNICIPALITY 
                THIS 
                FIFTH DYNAMITE ATTACK 
                PACIFIC PIPELINE 
                ELN 
                VALLE DEL CAUCA DEPARTMENT 
                PAST 6 MONTHS 
TARGET:         INRAVISION TELEVISION CADENA 
                ZORAIDA CAICEDO 
                CAMILIST UNION 
                NATIONAL LIBERATION ELN 
                NEW ATTACK 
                PACIFIC OIL PIPELINE 
                MULALO , YUMBO MUNICIPALITY 
                ATTACK 
                APPROXIMATELY 2200 
                MEN 
                MOTORCYCLE 
                5 KG OF DYNAMITE 
VICTIM:         INRAVISION TELEVISION CADENA 
                ZORAIDA CAICEDO 
                CAMILIST UNION 
                NATIONAL LIBERATION ELN 
                NEW ATTACK 
                PACIFIC OIL PIPELINE 
                MULALO , YUMBO MUNICIPALITY 
                THIS 
                FIFTH DYNAMITE ATTACK 
                PACIFIC PIPELINE 
                ELN 
                VALLE DEL CAUCA DEPARTMENT 
                PAST 6 MONTHS 

ID:             DEV-MUC3-0277
INCIDENT:       ATTACK
WEAPON:         SOVIET CITIZENS 
                INJURED TODAY 
                BOMB 
                TOURIST BUS 
                DOWNTOWN LIMA AVENUE 
PERP INDIV:     NO CONFIRMATION 
                ATTACK 
                SHINING PATH '' GUERRILLAS 
                SEVERAL SOVIET CITIZENS 
                PREVIOUS ATTACKS 
                NEARBY PORT 
PERP ORG:       NO CONFIRMATION 
                ATTACK 
                SHINING PATH '' GUERRILLAS 
                SEVERAL SOVIET CITIZENS 
                PREVIOUS ATTACKS 
                NEARBY PORT 
TARGET:         SOVIET CITIZENS 
                INJURED TODAY 
                BOMB 
                TOURIST BUS 
                DOWNTOWN LIMA AVENUE 
                ANTI-TERRORIST POLICE 
                10 OTHER PEOPLE 
                2 VEHICLES 
                AREA 
                NO CONFIRMATION 
                ATTACK 
                SHINING PATH '' GUERRILLAS 
                SEVERAL SOVIET CITIZENS 
                PREVIOUS ATTACKS 
                NEARBY PORT 
VICTIM:         SOVIET CITIZENS 
                INJURED TODAY 
                BOMB 
                TOURIST BUS 
                DOWNTOWN LIMA AVENUE 
                ANTI-TERRORIST POLICE 
                10 OTHER PEOPLE 
                2 VEHICLES 
                AREA 
                NO CONFIRMATION 
                ATTACK 
                SHINING PATH '' GUERRILLAS 
                SEVERAL SOVIET CITIZENS 
                PREVIOUS ATTACKS 
                NEARBY PORT 

ID:             DEV-MUC3-0280
INCIDENT:       ATTACK
WEAPON:         REPRESENTATION 
                MINISTRY 
                FOREIGN AFFAIRS 
                COUNTRY IN CONNECTION 
                FACT 
                PERUVIAN PORT 
                BOMB 
                LAST WEDNESDAY 
                BUS 
                CREW MEMBERS 
                TRAWLER SHIPS 
                YURIY GREMITSKIKH 
                FIRST DEPUTY CHIEF 
                BRIEFING 
PERP INDIV:     -
PERP ORG:       -
TARGET:         REPRESENTATION 
                MINISTRY 
                FOREIGN AFFAIRS 
                COUNTRY IN CONNECTION 
                FACT 
                PERUVIAN PORT 
                BOMB 
                LAST WEDNESDAY 
                BUS 
                CREW MEMBERS 
                TRAWLER SHIPS 
                YURIY GREMITSKIKH 
                FIRST DEPUTY CHIEF 
                BRIEFING 
VICTIM:         REPRESENTATION 
                MINISTRY 
                FOREIGN AFFAIRS 
                COUNTRY IN CONNECTION 
                FACT 
                PERUVIAN PORT 
                BOMB 
                LAST WEDNESDAY 
                BUS 
                CREW MEMBERS 
                TRAWLER SHIPS 
                YURIY GREMITSKIKH 
                FIRST DEPUTY CHIEF 
                BRIEFING 
                RESULT 
                TERRORIST ACTION 
                16 SOVIET SAILORS 
                ALL THE INJURED SAILORS 
                MEDICAL ATTENTION 
                PERUVIAN SIDE 
                FEELING OF REGRET 
                INCIDENT 
                ALL NECESSARY STEPS 
                GUILTY PERSONS 
                SAFETY 
                SOVIET PEOPLE 

ID:             DEV-MUC3-0284
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       LAST SATURDAY 
                ARMY 
                THIS PAST WEEKEND 
                ELN 
                THIS FORUM 
                ITS VIEWS 
                OIL POLICY 
                NEWS CONFERENCE 
                COMMUNIQUE 
TARGET:         OUR REPORTER 
                THIS 
                MAYORS 
                COCORNA , SAN CARLOS 
                SAN FRANCISCO 
                THIS MORNING 
                SAN LORENZO AVENUE 
                COCORNA MUNICIPALITY 
VICTIM:         -

ID:             DEV-MUC3-0287
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       130 DAYS ABROAD 
                BERNARDO JARAMILLO 
                LEFT-WING PATRIOTIC UNION 
                CASTROITE ARMY 
                NATIONAL LIBERATION 
                PEACE PROCESS 
                COLOMBIAN GOVERNMENT 
                ELN 
                PEACE PROPOSALS 
                ADMINISTRATION 
                PRESIDENT VIRGILIO BARCO 
                ITS ATTACKS 
                COUNTRY 'S 
                NATIONALIZATION 
                THAT INDUSTRY 
                ITS VIOLENT ACTIONS 
                ANY WAY BENEFIT COLOMBIA 
TARGET:         ELN 
                PEACE PROPOSALS 
                ADMINISTRATION 
                PRESIDENT VIRGILIO BARCO 
                ITS ATTACKS 
                COUNTRY 'S 
                NATIONALIZATION 
                THAT INDUSTRY 
VICTIM:         35-YEAR-OLD LEGISLATOR 
                JAIME PARDO LEAL 
                PARDO LEAL 
                OCTOBER 1987 
                COUNTRY 
                MANY DEATH THREATS 
                LEFTIST LEADER 
                COUNTRY 'S 

ID:             DEV-MUC3-0289
INCIDENT:       ATTACK
WEAPON:         FMLN URBAN GUERRILLAS 
                VEHICLE 
                BUILDING 'S BASEMENT 
                GAS TANKS 
                POWERFUL BOMB 
PERP INDIV:     FMLN URBAN GUERRILLAS 
                VEHICLE 
                BUILDING 'S BASEMENT 
                GAS TANKS 
                POWERFUL BOMB 
PERP ORG:       SAN SALVADOR 
                RADIO CADENA YSKL 
                THIS MORNING 
                FMLN URBAN GUERRILLAS 
                BOMB 
                BASEMENT 
                DEMOCRACY TOWER BUILDING 
                WESTERN SAN SALVADOR 
                VEHICLE 
                BUILDING 'S BASEMENT 
                GAS TANKS 
                POWERFUL BOMB 
                THIS 
                REPORT 
                FMLN OPERATION 
                0600 THIS MORNING 
                GENERAL ALARM 
TARGET:         SAN SALVADOR 
                RADIO CADENA YSKL 
                THIS MORNING 
                FMLN URBAN GUERRILLAS 
                BOMB 
                BASEMENT 
                DEMOCRACY TOWER BUILDING 
                WESTERN SAN SALVADOR 
                APPROXIMATELY 30 PERCENT 
                WINDOWS 
                BUILDING 
                VEHICLE 
                BUILDING 'S BASEMENT 
                GAS TANKS 
                POWERFUL BOMB 
VICTIM:         -

ID:             DEV-MUC3-0297
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SAN SALVADOR 
                MAURICIO MEJIA 
                GENERAL SECRETARY 
                EL SALVADOR UNIVERSITY 
                APPROXIMATELY SIX PERSONS 
                SHOOT-OUT 
                UNIVERSITY CAMPUS 
                SOME REPORTS 
                STUDENTS 
                DEMONSTRATION 
                AFTERNOON 
                GOVERNMENT 
                UNIVERSITY AREA 
                RELEASE STUDENTS 
                DEMONSTATION 
                DIFFERENT LOCATIONS 
                UNIVERSITY 
                SOUND 
                EXPLODING MOLOTOV COCKTAILS 
                CAMPUS 
PERP ORG:       SOME REPORTS 
                STUDENTS 
                DEMONSTRATION 
                AFTERNOON 
                GOVERNMENT 
                UNIVERSITY AREA 
                RELEASE STUDENTS 
TARGET:         -
VICTIM:         SAN SALVADOR 
                MAURICIO MEJIA 
                GENERAL SECRETARY 
                EL SALVADOR UNIVERSITY 
                APPROXIMATELY SIX PERSONS 
                SHOOT-OUT 
                UNIVERSITY CAMPUS 
                OF THE PERSONS 
                U.S. STUDENT 
                UNIVERSITY 
                RED CROSS 
                ROBERTO BRENOW , 26 

ID:             DEV-MUC3-0298
INCIDENT:       ATTACK
WEAPON:         WELL-ORGANIZED GROUP 
                APPROXIMATELY 300 PEOPLE 
                PRIVATE PROPERTY 
                MOLOTOV COCKTAILS 
PERP INDIV:     COMMUNISTS 
                THEIR CLOSEST ALLIES 
                THESE CRIMINALS ACTIONS 
PERP ORG:       COMMUNISTS 
                THEIR CLOSEST ALLIES 
                THESE CRIMINALS ACTIONS 
TARGET:         INTERIOR MINISTER CARLOS CACERES 
                SOME PEOPLE 
                PRIVATE PROPERTY 
                GOVERNMENT 
                WELL-ORGANIZED GROUP 
                APPROXIMATELY 300 PEOPLE 
                MOLOTOV COCKTAILS 
VICTIM:         THEIR ACTION 
                UNFORTUNATE DEATH 
                DETRIMENT 
                LARGE NUMBER 
                POOR FAMILIES 
                GOVERNMENT 
                ITS DECISION 
                POLITICAL CAMPAIGN 
                ITS POSITION 
                ITS OUTRIGHT REJECTION 
                THREAT 
                PUBLIC TRANQUILLITY 

ID:             DEV-MUC3-0306
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         ATTACKS 
                CANO LIMON 
                COVENAS PIPELINE HAVE 
                $ 150 MILLION 
VICTIM:         ATTACKS 
                CANO LIMON 
                COVENAS PIPELINE HAVE 
                $ 150 MILLION 
                SIX ATTACKS 
                PACIFIC OIL PIPELINE 
                TWO 
                DINA-SALGAR OIL PIPELINE 
                CONSIDERATION , LOSSES AMOUNT 
                APPROXIMATELY $ 200 MILLION 

ID:             DEV-MUC3-0316
INCIDENT:       ATTACK
WEAPON:         EL SIGLO 
                AUTHORITIES 
                PAST FEW HOURS 
                CAMILIST UNION 
                ARMY 
                NATIONAL LIBERATION 
                SECTION 
                PEREIRA-CARTAGO PIPELINE 
                MAJOR STRUCTURAL DAMAGE 
                NO CASUALTIES 
                UC-ELN MEMBERS 
                POWERFUL DYNAMITE CHARGE 
                HEAVY DAMAGE 
                PIPELINE 
                RANCH 
                IMPLEMENTATION 
                SUBVERSIVES ' ACTION 
PERP INDIV:     UC-ELN 'S 
                ATTACK HOURS 
PERP ORG:       EL SIGLO 
                AUTHORITIES 
                PAST FEW HOURS 
                CAMILIST UNION 
                ARMY 
                NATIONAL LIBERATION 
                SECTION 
                PEREIRA-CARTAGO PIPELINE 
                MAJOR STRUCTURAL DAMAGE 
                NO CASUALTIES 
TARGET:         EL SIGLO 
                AUTHORITIES 
                PAST FEW HOURS 
                CAMILIST UNION 
                ARMY 
                NATIONAL LIBERATION 
                SECTION 
                PEREIRA-CARTAGO PIPELINE 
                MAJOR STRUCTURAL DAMAGE 
                NO CASUALTIES 
                UC-ELN MEMBERS 
                POWERFUL DYNAMITE CHARGE 
                HEAVY DAMAGE 
                PIPELINE 
VICTIM:         -

ID:             DEV-MUC3-0318
INCIDENT:       ATTACK
WEAPON:         EL MERCURIO 
                VINA DEL MAR 
                MEDIA 
                FIFTH REGION 
                BOMB ATTACK 
                CHILDREN 
                LAS ACHUPALLAS SECTOR 
PERP INDIV:     -
PERP ORG:       EL MERCURIO 
                VINA DEL MAR 
                MEDIA 
                FIFTH REGION 
                BOMB ATTACK 
                CHILDREN 
                LAS ACHUPALLAS SECTOR 
TARGET:         EL MERCURIO 
                VINA DEL MAR 
                MEDIA 
                FIFTH REGION 
                BOMB ATTACK 
                CHILDREN 
                LAS ACHUPALLAS SECTOR 
                PERPETRATORS 
                ATTACK 
                POLICE PATROL CAR 
                OFFICE 
                NO ARRESTS 
                THIS CASE 
VICTIM:         EL MERCURIO 
                VINA DEL MAR 
                MEDIA 
                FIFTH REGION 
                BOMB ATTACK 
                CHILDREN 
                LAS ACHUPALLAS SECTOR 

ID:             DEV-MUC3-0325
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     PRELATE 
                ARREST 
                SALOMON ENRIQUE ROSA CHAVEZ 
                FIRST CRIMINAL COURT 
                NATIONAL POLICE 
                PEOPLE 'S 
                ROSA CHAVEZ 
                CHARGES 
                LAST WEEK 
                INDICTMENT 
                JOSE NAPOLEON DUARTE 
                MEMBERS OF HIS FAMILY 
                PRESS 
                TELEVISION MEDIA 
                THIS TASK 
PERP ORG:       HIS TEMPORARY ARREST 
                72 
                HOUR PERIOD 
                COUNTERFEIT DOCUMENTS 
                THESE CRIMES 
                PRISON SENTENCE 
TARGET:         HIS TEMPORARY ARREST 
                72 
                HOUR PERIOD 
                COUNTERFEIT DOCUMENTS 
                THESE CRIMES 
                PRISON SENTENCE 
VICTIM:         PRELATE 
                HIS CONCERN 
                SERIES 
                WEEK 
                CHARGES 
                COUNTERCHARGES 
                MOST SERIOUS THING 
                `` CASE 
                ROMERO 
                NIGHTMARE 
                MASTERMINDS AND PERPETRATORS 
                HIS ABOMINABLE ASSASSINATION 
                ROSA CHAVEZ 
                LAST WEEK 
                INDICTMENT 
                JOSE NAPOLEON DUARTE 
                MEMBERS OF HIS FAMILY 
                PRESS 
                TELEVISION MEDIA 
                THIS TASK 

ID:             DEV-MUC3-0342
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     PERUVIAN GOVERNMENT 
                ARMY SOLDIERS 
                NAVY MARINES 
                MINING CAMPS 
                POSSIBLE ATTACKS AND SABOTAGE 
                STRIKE 
                FIRST THIS YEAR 
PERP ORG:       -
TARGET:         -
VICTIM:         FEDERATION 
                MINERS AND METALWORKERS 
                NATIONAL STRIKE 
                COURTS 
                ALL PERUVIAN MINERS 
                DISCUSSIONS 
                LABOR AND SALARY ISSUES 
                SEVERAL MINES 
                APPROXIMATELY 12 MINERS 
                SAUL CANTORAL 
                SECRETARY GENERAL 
                MINERS 
                ALMOST 100 DAYS 
                LAST YEAR 

ID:             DEV-MUC3-0345
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     JUDGE VALENCIA GARCIA 
                INDIVIDUALS 
                MOTORCYCLES 
PERP ORG:       -
TARGET:         FEW MINUTES 
                13TH STREET 
                16TH AVENUE 
VICTIM:         INRAVISION TELEVISION CADENA 
                FEW MINUTES AGO 
                ATTEMPT 
                LIFE 
                CARLOS ERNESTO VALENCIA GARCIA 
                SUPERIOR CRIMINAL COURT JUDGE 
                THIS TIME 
                OF HIS BODYGUARDS 
                MEDICAL ATTENTION 
                FEW MINUTES 
                13TH STREET 
                16TH AVENUE 
                JUDGE VALENCIA GARCIA 
                INDIVIDUALS 
                MOTORCYCLES 
                DOCTORS 
                CRITICAL CONDITION 
                TIMES 
                HEAD 

ID:             DEV-MUC3-0347
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         COUNTRY 'S MAGISTRATES 
                MURDER 
                COLOMBIAN JUSTICE CARLOS VALENCIA 
                FEW MINUTES 
                THEIR RESIGNATIONS 
                JUSTICE CARLOS VALENCIA GARCIA 
                COLOMBIAN MAGISTRATES 
                ALL LEGAL PROCEEDINGS 
                COLOMBIAN JUDGES 
                OUR LIVES 
                THOSE IDEALS 
                CARLOS VALENCIA GARCIA 
                BEST CHILDREN 
                WIFE 
                MURDERED MAGISTRATE 
                FUNERAL 

ID:             DEV-MUC3-0351
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         THIS EVENING 
                SPEECH 
                MAIN SQUARE OF SOACHA 
                15 KM SOUTH 
                POLICE AND HEALTH AUTHORITIES 
                FIRST REPORTS 
                MAN 
                SENATOR 
                THOSE GATHERED 
                EMERGENCY ROOM 
                HOSPITAL IN BOSA 
                OTHER PERSONS 
                ATTACK 

ID:             DEV-MUC3-0354
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         ALL THE POLITICAL PARTIES 
                MURDER 
                LUIS CARLOS GALAN 
                SOME REACTIONS 
                WAKE 
                MURDERED LIBERAL CANDIDATE 
                COUNTRY 
                PAST 3 YEARS 
                THIS FACT 
                PROPOSAL 
                3 YEARS 

ID:             DEV-MUC3-0366
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         HUNDRED AIRCRAFT 
                ALL TYPES 
                SAME OFFICE 
                SAME MEASURE 
                OTHER AIRPORTS 
                COUNTRY 
                COMING HOURS 
                GOVERNMENT 
                DECREE TONIGHT 
                IMMEDIATE EFFECT 
VICTIM:         COLOMBIAN DEFENSE MINISTRY 
                MEDIA 
                ITS FIRST REPORT 
                ANTIDRUG OPERATIONS 
                COUNTRY 
                POLICE COLONEL 
                JUDGE 
                SENATOR LUIS CARLOS GALAN 
                LAST WEEK 
                REPORT 
                817 PROPERTIES IN COLOMBIA 
                10,777 PERSONS 
                678 WEAPONS 
                4,000 KG OF COCAINE 
                FRIDAY , 18 

ID:             DEV-MUC3-0367
INCIDENT:       ATTACK
WEAPON:         EDUARDO MARTINEZ ROMERO 
                LEADERS 
                MEDELLIN CARTEL 
                ORGANIZATION 'S FINANCES 
                LAND IN VENEZUELA 
                ACTIVITIES 
                ORGANIZATION 
                COLOMBIAN 
                VENEZUELAN BORDER 
                TODAY 'S EDITION 
                EL NACIONAL 
                ZULIA AND TACHIRA 
                VENEZUELAN STATES 
                ORGANIZATION 'S 
PERP INDIV:     -
PERP ORG:       -
TARGET:         EDUARDO MARTINEZ ROMERO 
                LEADERS 
                MEDELLIN CARTEL 
                ORGANIZATION 'S FINANCES 
                LAND IN VENEZUELA 
                ACTIVITIES 
                ORGANIZATION 
                COLOMBIAN 
                VENEZUELAN BORDER 
                TODAY 'S EDITION 
                EL NACIONAL 
                ZULIA AND TACHIRA 
                VENEZUELAN STATES 
                ORGANIZATION 'S 
VICTIM:         BORDER WITH COLOMBIA 
                STRUGGLE 
                DRUG TRAFFICKING 
                VENEZUELA 'S VISIBLE REACTIONS 
                WAVE OF VIOLENCE 
                NEIGHBORING COUNTRY 
                DEATH 
                VENEZUELAN PEOPLE 
                THIS BATTLE 
                HEAD OF STATE 
                MINISTER 
                POSSIBILITY 
                PARAMILITARY PERSONNEL 
                ONE 
                EL AMPARO 
                LAST YEAR 
                GROUP OF SOLDIERS 
                17 FISHERMEN 
                SECURITY CORPS 
                LIGHT OF THE POSSIBILITY 
                RESULT 
                PERSECUTION 
                MURDER 
                LUIS CARLOS GALAN 

ID:             DEV-MUC3-0371
INCIDENT:       ATTACK
WEAPON:         EMISORAS CARACOL NETWORK 
                VIOLENT OFFENSIVE 
                COUNTRY 
                SEVERAL EXPLOSIVE DEVICES 
                DIFFERENT SITES 
                MESSAGE 
                ITS LISTENERS 
                EXTRADITABLES 
                PEOPLE 
                STATE THE 
                COLOMBIAN PEOPLE 
PERP INDIV:     EMISORAS CARACOL NETWORK 
                VIOLENT OFFENSIVE 
                COUNTRY 
                SEVERAL EXPLOSIVE DEVICES 
                DIFFERENT SITES 
                MESSAGE 
                ITS LISTENERS 
                EXTRADITABLES 
                PEOPLE 
                STATE THE 
                COLOMBIAN PEOPLE 
                OUR GUARD 
                TRAITORS AND TURNCOATS 
PERP ORG:       -
TARGET:         SEVERAL EXPLOSIVE DEVICES 
                DIFFERENT SITES 
                MESSAGE 
                ITS LISTENERS 
                EXTRADITABLES 
                PEOPLE 
                STATE THE 
                COLOMBIAN PEOPLE 
VICTIM:         EMISORAS CARACOL NETWORK 
                VIOLENT OFFENSIVE 
                COUNTRY 
                SEVERAL EXPLOSIVE DEVICES 
                DIFFERENT SITES 
                MESSAGE 
                ITS LISTENERS 
                EXTRADITABLES 
                PEOPLE 
                STATE THE 
                COLOMBIAN PEOPLE 

ID:             DEV-MUC3-0391
INCIDENT:       ATTACK
WEAPON:         OFFICE 
                DOWNTOWN BOGOTA 
                DRUG TRAFFICKING GROUP 
                GONZALO RODRIGUEZ GA