ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       AIR FORCE COMMANDER 
                SALVADORAN ARMED FORCES 
                FMLN 
TARGET:         -
VICTIM:         PEOPLE'S PLAN 
                ARNULFO ROMERO 
                CIVILIANS 
                JESUITS' MURDERS 
                JESUIT PRIESTS 

ID:             DEV-MUC3-0022
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       STRONG MILITARY FORCE 
                GOVERNMENT ARMY 
                FMLN 
                ARMY 
                MEMBERS OF THE ARMY 
TARGET:         -
VICTIM:         ROMERO 
                CIVILIANS 
                PEOPLE 
                JESUIT PRIESTS 
                JESUIT FATHERS 

ID:             DEV-MUC3-0026
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       SALVADORAN GOVERNMENT 
TARGET:         -
VICTIM:         CIVILIAN CLOTHING 
                OQUELI 
                OQUELI COLINDRES 
                HECTOR OQUELI COLINDRES 

ID:             DEV-MUC3-0028
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SOLDIERS OR LIEUTENANTS 
PERP ORG:       ARMY 
                MILITARY PERSONNEL 
                RULING ARENA 
TARGET:         -
VICTIM:         WOMEN 
                JESUITS 
                SIX JESUIT PRIESTS 

ID:             DEV-MUC3-0036
INCIDENT:       KIDNAPPING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         OQUELI'S ARRIVAL 
                OQUELI 
                VALUABLE PERSONS 
                OQUELI'S RELATIVES 
                GILDA FLORES 

ID:             DEV-MUC3-0044
INCIDENT:       BOMBING
WEAPON:         EXPLOSIVES 
                MAIN CHARGE 
PERP INDIV:     TERRORIST WEAPONS 
PERP ORG:       SALVADORAN PRESIDENTIAL HOUSE 
                MILITARY SOURCE 
TARGET:         CAR BOMBS 
VICTIM:         NATIONAL POLICEMEN 

ID:             DEV-MUC3-0051
INCIDENT:       BOMBING
WEAPON:         BOMB 
PERP INDIV:     -
PERP ORG:       -
TARGET:         PUBLIC TELEPHONE BOOTH 
                TELEPHONE COMPANY OFFICES 
VICTIM:         -

ID:             DEV-MUC3-0061
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT 
TARGET:         -
VICTIM:         GARCIA ALVARADO 
                ARNULFO ROMERO 
                IVON FLORES 
                PEOPLE 

ID:             DEV-MUC3-0077
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         OTHERS 
                PEOPLE OF ANTIOQUIA 

ID:             DEV-MUC3-0102
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     UNION MEMBERS 
                DEATH 
                LABOR UNION MEMBERS 
PERP ORG:       GOVERNMENT 
                FMLN 
TARGET:         UNION MEMBERS 
VICTIM:         LABOR UNION MEMBERS 

ID:             DEV-MUC3-0115
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       ARMED GROUP 
                XXII FRONT 
TARGET:         -
VICTIM:         PEASANTS' CORPSES 
                FIVE PEASANTS 
                PEASANTS 

ID:             DEV-MUC3-0117
INCIDENT:       BOMBING
WEAPON:         TWO BOMBS 
PERP INDIV:     -
PERP ORG:       LOCAL POLICE 
TARGET:         OFFICES OF LAWYER 
                LOCAL POLICE 
VICTIM:         JUDGE GUILLERMO TORRE ALDAY 
                LUIS ROSSMAN 
                GOVERNOR JOSE VERNET'S 

ID:             DEV-MUC3-0118
INCIDENT:       ATTACK
WEAPON:         BOMBS 
PERP INDIV:     -
PERP ORG:       CEREZO AREVALO GOVERNMENT 
                SECRET ANTICOMMUNIST ARMY 
TARGET:         -
VICTIM:         FIVE CIVILIANS 
                CIVILIANS 

ID:             DEV-MUC3-0126
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PRESIDENT JOSE NAPOLEON DUARTE 

ID:             DEV-MUC3-0134
INCIDENT:       BOMBING
WEAPON:         BOMBS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PERSONS 
                AT LEAST FIVE PERSONS 
                WOMAN 

ID:             DEV-MUC3-0139
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     LUIS GALDAMEZ 
PERP ORG:       -
TARGET:         PRIVATE VEHICLES 
                RED CROSS VEHICLES 
VICTIM:         JOSE NAPOLEON DUARTE'S 
                LUIS GALDAMEZ 
                JOURNALISTS' 
                CIVILIANS 

ID:             DEV-MUC3-0165
INCIDENT:       BOMBING
WEAPON:         CAR PARKED NEARBY 
                POWERFUL BOMB 
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAR 
                CAR PARKED NEARBY 
VICTIM:         -

ID:             DEV-MUC3-0169
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SMALL GROUP 
                PERSONS 
                MEMBERS 
                VERY SMALL GROUP 
PERP ORG:       NATIONAL POLICE 
TARGET:         POLICE 
VICTIM:         OF THE DEMONSTRATORS 
                PERSONS 
                LUIS VERNAZA HOSPITAL 
                DEMONSTRATORS 
                INJURED PERSONS 

ID:             DEV-MUC3-0182
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     GROUP 
PERP ORG:       MANAGING GOVERNMENT AFFAIRS 
                ESSENTIALLY DEMOCRATIC FORCE 
                PARTY 
                ARMED FORCES 
                NATIONAL CONCILIATION PARTY 
TARGET:         -
VICTIM:         PUBLIC OFFICIALS 

ID:             DEV-MUC3-0197
INCIDENT:       BOMBING
WEAPON:         BOMBS 
                BOMB 
PERP INDIV:     -
PERP ORG:       -
TARGET:         EMBASSY 
                U.S. EMBASSY WAREHOUSE 
                U.S. EMBASSY EMPLOYEES 
                BUILDING 
VICTIM:         SAN ANTONIO ABAD STREET 
                U.S. EMBASSY EMPLOYEES 

ID:             DEV-MUC3-0213
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       PERUVIAN SHINING PATH 
TARGET:         -
VICTIM:         THESE PEOPLE 
                PEOPLE 

ID:             DEV-MUC3-0225
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     GROUPS 
                PARAMILITARY GROUPS 
PERP ORG:       SECRET POLICE 
TARGET:         -
VICTIM:         SEVERAL OTHERS 
                MR DE LAS FLORES 
                CIVILIAN JOSE JAVIER RIVERA 
                `` CORRUPTING OFFICIALS 

ID:             DEV-MUC3-0231
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     EXTREMIST GROUPS 
PERP ORG:       POLICE 
                BOLIVIAN POLICE 
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0239
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     ANTONIO RODRIGUEZ PORTH 
                SUSPECTED URBAN GUERRILLAS 
PERP ORG:       SALVADORAN CONFLICT 
TARGET:         -
VICTIM:         ANTONIO RODRIGUEZ PORTH 
                RODRIGUEZ PORTH 
                HIS BODYGUARDS 
                SAN JOSE 
                LUIS GUILLERMO SOLIS 

ID:             DEV-MUC3-0241
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       SALVADORAN POLICE REPORTS 
TARGET:         SALVADORAN POLICE REPORTS 
VICTIM:         RODRIGUEZ PORTH 

ID:             DEV-MUC3-0243
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       REPUBLIC'S GOVERNMENT 
TARGET:         -
VICTIM:         ANTONIO RODRIGUEZ PORTH 
                RODRIGUEZ' GRIEVING FAMILY 
                EDUARDO COLINDRES 
                RODRIGUEZ PORTH'S 

ID:             DEV-MUC3-0253
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NICARAGUAN GOVERNMENT 
                SALVADORAN ARMED FORCES 
TARGET:         -
VICTIM:         RODRIGUEZ PORTH 

ID:             DEV-MUC3-0260
INCIDENT:       BOMBING
WEAPON:         BOMB 
PERP INDIV:     TERRORIST ATTACK 
PERP ORG:       -
TARGET:         -
VICTIM:         MANY PEOPLE 
                APPROXIMATELY 20 OTHER PEOPLE 

ID:             DEV-MUC3-0261
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     PEOPLE 
                TERRORIST ATTACK 
PERP ORG:       FARABUNDO MARTI NATIONAL LIBERATION 
                ARENA 
                FRONT 
                FMLN REPORTS 
TARGET:         -
VICTIM:         PEOPLE 

ID:             DEV-MUC3-0263
INCIDENT:       BOMBING
WEAPON:         KG OF DYNAMITE 
PERP INDIV:     -
PERP ORG:       -
TARGET:         PIPELINE 
                PACIFIC PIPELINE 
VICTIM:         -

ID:             DEV-MUC3-0277
INCIDENT:       BOMBING
WEAPON:         BOMB 
PERP INDIV:     -
PERP ORG:       SHINING PATH '' GUERRILLAS 
TARGET:         ANTI-TERRORIST POLICE 
                TOURIST BUS 
                VEHICLES 
VICTIM:         OTHER PEOPLE 

ID:             DEV-MUC3-0280
INCIDENT:       BOMBING
WEAPON:         BOMB 
PERP INDIV:     -
PERP ORG:       -
TARGET:         COOPERATION IN FISHING 
                PERUVIAN SIDE 
                PERUVIAN PORT 
                SOVIET CITIZENS AND OFFICES 
                BUS 
VICTIM:         -

ID:             DEV-MUC3-0284
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT SECRETARY TOMORROW 
TARGET:         -
VICTIM:         SAN FRANCISCO 
                SAN CARLOS 

ID:             DEV-MUC3-0287
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         BERNARDO JARAMILLO 
                JAIME PARDO LEAL 
                JARAMILLO 

ID:             DEV-MUC3-0289
INCIDENT:       BOMBING
WEAPON:         BOMB 
                POWERFUL BOMB 
PERP INDIV:     FMLN URBAN GUERRILLAS 
PERP ORG:       -
TARGET:         BUILDING'S BASEMENT 
                DEMOCRACY TOWER BUILDING 
                BUILDING 
VICTIM:         -

ID:             DEV-MUC3-0297
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT 
TARGET:         -
VICTIM:         APPROXIMATELY SIX PERSONS 
                OF THE PERSONS 

ID:             DEV-MUC3-0298
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT 
TARGET:         -
VICTIM:         INTERIOR MINISTER CARLOS CACERES 
                LEADERS 
                PEOPLE 

ID:             DEV-MUC3-0306
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         WOMAN 

ID:             DEV-MUC3-0316
INCIDENT:       BOMBING
WEAPON:         POWERFUL DYNAMITE CHARGE 
PERP INDIV:     -
PERP ORG:       -
TARGET:         CAMILIST UNION 
                PIPELINE 
                PEREIRA-CARTAGO PIPELINE 
VICTIM:         HERNANDO ROJAS 

ID:             DEV-MUC3-0318
INCIDENT:       ATTACK
WEAPON:         BOMB ATTACK 
PERP INDIV:     -
PERP ORG:       POLICE 
                POLICE PATROL CAR 
TARGET:         -
VICTIM:         MANY PEOPLE 

ID:             DEV-MUC3-0325
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NATIONAL POLICE 
TARGET:         -
VICTIM:         SALOMON ENRIQUE ROSA CHAVEZ 
                JOSE NAPOLEON DUARTE 
                ALL JOURNALISTS 
                ROMERO 
                PEOPLE'S 

ID:             DEV-MUC3-0342
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     PERUVIAN SOLDIERS 
PERP ORG:       -
TARGET:         -
VICTIM:         LABOR AND SALARY ISSUES 
                REGIONAL LEADERS 

ID:             DEV-MUC3-0345
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         JUDGE VALENCIA GARCIA 
                CARLOS ERNESTO VALENCIA GARCIA 
                JAIME PARDO LEAL 
                GUILLERMO CANO 

ID:             DEV-MUC3-0347
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT 
                OUR ARMED FORCES 
TARGET:         -
VICTIM:         JUSTICE CARLOS VALENCIA GARCIA 
                LABOR 
                COLOMBIAN JUSTICE CARLOS VALENCIA 
                CARLOS VALENCIA GARCIA 

ID:             DEV-MUC3-0351
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         POLICE AND HEALTH AUTHORITIES 
VICTIM:         OTHER PERSONS 

ID:             DEV-MUC3-0354
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         LUIS CARLOS GALAN 
                GALAN 

ID:             DEV-MUC3-0366
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       MILITARY AND POLICE OFFICIALS 
TARGET:         MILITARY AND POLICE OFFICIALS 
VICTIM:         SENATOR LUIS CARLOS GALAN 
                GOVERNMENT OFFICIALS 

ID:             DEV-MUC3-0367
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     DRUG TRAFFICKING 
                DEATH 
                COLOMBIAN 
PERP ORG:       MEDELLIN CARTEL 
TARGET:         -
VICTIM:         EDUARDO MARTINEZ ROMERO 
                LEADERS 
                LUIS CARLOS GALAN 

ID:             DEV-MUC3-0371
INCIDENT:       ATTACK
WEAPON:         SEVERAL EXPLOSIVE DEVICES 
PERP INDIV:     COLOMBIAN CITIZENS 
                COLOMBIAN LAWS 
                COLOMBIAN PEOPLE 
                PEOPLE 
PERP ORG:       EXTRADITABLES 
TARGET:         LOOTING OF OUR HOUSES 
VICTIM:         PERSONS 
                COLOMBIAN PEOPLE 
                PEOPLE 

ID:             DEV-MUC3-0391
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     DEATH 
                DRUG TRAFFICKING GROUP 
PERP ORG:       ELITE ARMY TROOPS 
                SEVERAL ARMY DETACHMENT ELEMENTS 
                GOVERNMENT 
TARGET:         -
VICTIM:         PABLO ESCOBAR GAVIRIA 
                LUIS RUBIO ROJAS 
                FREDDY RODRIGUEZ CELADES 
                RODRIGUEZ GACHA 
                GONZALO RODRIGUEZ GACHA 

ID:             DEV-MUC3-0395
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         GALAN'S ASSASSINATION 
                MANY PEOPLE 
                SENATOR GALAN'S ASSASSINATION 
                GALAN'S MURDER 
                SENATOR LUIS CARLOS GALAN 

ID:             DEV-MUC3-0404
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SECURITY FORCES 
                ARMED FORCES 
PERP ORG:       ARGENTINE FEDERAL POLICE 
                CHILEAN ARMY 
                ARMY INTELLIGENCE SERVICE 
                MILITARY SECTION 
                ARGENTINE ARMED FORCES 
TARGET:         -
VICTIM:         ISABEL MARTINEZ DE PERON 
                GENERAL CARLOS PRATS 
                JUAN JOSE SOTO VARGAS 

ID:             DEV-MUC3-0406
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         SENATOR GALAN 

ID:             DEV-MUC3-0411
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     YOUNG STUDENT 
                SOLDIERS 
PERP ORG:       FRONT 
TARGET:         -
VICTIM:         MIGUEL ERNESTO MIRANDA REINA 
                SALESIAN COMMUNITY 

ID:             DEV-MUC3-0413
INCIDENT:       BOMBING
WEAPON:         TRUCK BOMB 
                BOMB 
PERP INDIV:     OR NINE PEOPLE 
PERP ORG:       -
TARGET:         POLICE 
                EL ESPECTADOR BUILDING 
                BOGOTA CUSTOMS OFFICE 
VICTIM:         OR NINE PEOPLE 
                JAIME ORLANDO SUAREZ 
                CARMEN ROSA GUTIERREZ 
                WOMAN 
                PEOPLE 

ID:             DEV-MUC3-0441
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       POLICE 
TARGET:         RIOT POLICE TRUCKS 
VICTIM:         -

ID:             DEV-MUC3-0443
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     SEVERAL HOODED MEN 
                THESE INDIVIDUALS 
PERP ORG:       GOVERNMENT 
                STATE-OWNED NATIONAL UNIVERSITY 
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0451
INCIDENT:       BOMBING
WEAPON:         CAR 
                BOMB 
                POWERFUL BOMB 
PERP INDIV:     -
PERP ORG:       -
TARGET:         PUBLIC BUILDING 
                TELEPHONE CONNECTIONS 
                CAR 
                TELEPHONE EXCHANGE WATCHMAN 
                TELEPHONE EXCHANGE 
VICTIM:         JAIME GAVIRIA 
                PEOPLE 

ID:             DEV-MUC3-0452
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       MEDELLIN CARTEL 
TARGET:         -
VICTIM:         LUIS FERNANDO GALEANO BERRIO 
                FINANCIAL OFFICIALS 

ID:             DEV-MUC3-0465
INCIDENT:       BOMBING
WEAPON:         BOMB 
PERP INDIV:     -
PERP ORG:       NATIONAL TELEVISION 
TARGET:         LIGHT POLE 
                POWER CUT 
                POWER 
VICTIM:         PEOPLE 

ID:             DEV-MUC3-0467
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0472
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SALVADORAN GUERRILLAS 
                GUERRILLA COMMANDER 
PERP ORG:       SALVADORAN GOVERNMENT DELEGATION 
                SALVADORAN GUERRILLAS 
                FMLN 
                FORCES 
                NATIONAL TERRITORY 
TARGET:         -
VICTIM:         OSCAR ARNULFO ROMERO 

ID:             DEV-MUC3-0474
INCIDENT:       BOMBING
WEAPON:         BOMB 
                SEVERAL DYNAMITE 
                LUXURY CAR 
PERP INDIV:     UNIDENTIFIED MEN 
PERP ORG:       -
TARGET:         POLICE 
                LUXURY CAR 
VICTIM:         -

ID:             DEV-MUC3-0480
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PERQUIN CIVILIANS 
                CIVILIAN POPULATION 

ID:             DEV-MUC3-0487
INCIDENT:       BOMBING
WEAPON:         DYNAMITE CHARGES 
                KG OF DYNAMITE 
                TWO BOMBS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         NEIGHBORING STORES 
                DAS OFFICES 
                BANK BRANCHES 
                BRANCH OFFICES 
VICTIM:         PERSONS 

ID:             DEV-MUC3-0501
INCIDENT:       BOMBING
WEAPON:         BOMBS 
                POWERFUL BOMBS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         POLITICAL OFFICE 
                LIBERAL PARTY OFFICE 
                POLITICAL OFFICES 
VICTIM:         -

ID:             DEV-MUC3-0502
INCIDENT:       ATTACK
WEAPON:         SEVERAL BOMBS 
PERP INDIV:     -
PERP ORG:       POWERFUL FORCE 
                ARMED FORCES' 
                POLICE ARREST WARRANT 
                CEREZO'S GOVERNMENT 
                MILITARY REGIMES 
TARGET:         -
VICTIM:         U.S. OFFICIALS 

ID:             DEV-MUC3-0504
INCIDENT:       BOMBING
WEAPON:         BOMBS 
PERP INDIV:     -
PERP ORG:       MILITARY CONTROL 
TARGET:         -
VICTIM:         -

ID:             DEV-MUC3-0528
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         LUIS ROSSI 
                JOSE MARIA MARTINEZ 
                ROBERTO LIZARDI 
                DON JOSE HOTEL 

ID:             DEV-MUC3-0539
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     COLOMBIAN NATIONAL POLICE 
                REBEL GROUP 
PERP ORG:       COLOMBIAN NATIONAL POLICE 
                GOVERNMENT'S 
                ARMED STRUGGLE 
TARGET:         -
VICTIM:         POLICEMEN 

ID:             DEV-MUC3-0552
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     MEMBERS 
PERP ORG:       SHINING PATH 
                MILITARY SOURCES TODAY 
                SHINING PATH MEMBERS 
TARGET:         THEIR HOUSES 
VICTIM:         -

ID:             DEV-MUC3-0557
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       MRTA CHIEF VICTOR POLAY 
                PERUVIAN GOVERNMENT 
                ARMY 
                AIR FORCE PERSONNEL 
TARGET:         POLICE 
                POLICE UNIFORMS 
                PERUVIAN GOVERNMENT 
VICTIM:         ARGENTINE PRESIDENT CARLOS MENEM 
                MEXICAN PRESIDENT CARLOS SALINAS 
                PERUVIAN PRESIDENT ALAN GARCIA 
                HOTEL WORKERS AND EMPLOYEES 
                PEOPLE 

ID:             DEV-MUC3-0559
INCIDENT:       ATTACK
WEAPON:         CAR BOMB 
PERP INDIV:     GROUP 
                GROUP OF EIGHT 
PERP ORG:       -
TARGET:         STRICT POLICE CONTROL 
VICTIM:         PRESIDENT ALAN GARCIA 
                OUR PEOPLE 

ID:             DEV-MUC3-0561
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     DEATH 
PERP ORG:       -
TARGET:         -
VICTIM:         FRANCISCO PINTO CASAROLA 
                ROBERTO VALLE 
                GENERAL CARLOS AUGUSTO MORALES 

ID:             DEV-MUC3-0565
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       GOVERNMENT'S POLICY 
                FMLN 
TARGET:         -
VICTIM:         DEFENSELESS WOMEN 
                SAN JOSE 

ID:             DEV-MUC3-0875
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       HIS SALVADORAN COLLEAGUE'S 
                GOVERNMENT 
TARGET:         -
VICTIM:         MURDERS PRIESTS 
                SIX JESUIT PRIESTS 
                NUNS 
                POLITICAL LEADERS 
                PRIESTS 

ID:             DEV-MUC3-0876
INCIDENT:       BOMBING
WEAPON:         BOMBS 
PERP INDIV:     GROUPS OF 
                MEMBERS 
PERP ORG:       -
TARGET:         POLICE SHOT 
VICTIM:         2-MONTH-OLD LABOR CONFLICT 
                LABOR 
                LABOR MINISTRY 
                WORKERS 
                PUBLIC EMPLOYEES 

ID:             DEV-MUC3-0887
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       SALVADORAN GOVERNMENT 
                SALVADORAN MINISTER OF CULTURE 
TARGET:         -
VICTIM:         JUSTICE MINISTER OSCAR SANTAMARIA 
                OFFICIALS 
                PRIESTS 

ID:             DEV-MUC3-0888
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     SO-CALLED DEATH 
                SQUADS 
PERP ORG:       GOVERNMENT 
TARGET:         HOUSES 
VICTIM:         CATHOLIC PRIESTS 
                CIVILIANS 
                PEOPLE 

ID:             TST1-MUC3-0002
INCIDENT:       BOMBING
WEAPON:         HELICOPTER GUNSHIPS 
PERP INDIV:     MEMBERS 
PERP ORG:       -
TARGET:         ELECTRIC POWER SUBSTATION 
VICTIM:         -

ID:             TST1-MUC3-0004
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     MAN 
PERP ORG:       -
TARGET:         -
VICTIM:         WOMAN 

ID:             TST1-MUC3-0035
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       NATIONAL POLICE HEADQUARTERS 
                ARENA 
TARGET:         NATIONAL POLICE HEADQUARTERS 
                ELECTRICAL SYSTEM 
VICTIM:         -

ID:             TST1-MUC3-0036
INCIDENT:       BOMBING
WEAPON:         HOMEMADE BOMB 
PERP INDIV:     U.S. SOLDIERS 
                OF THE SOLDIERS 
                GROUP 
                NINE U.S. SOLDIERS 
                NINE SOLDIERS 
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             TST1-MUC3-0045
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     GROUP 
                JUNIOR OFFICERS' 
                ARMED INDIVIDUALS 
                MORE PERSONS 
                MILITARY UNIFORMS 
PERP ORG:       TREASURY POLICE 
                SALVADORAN DEFENSE MINISTRY 
                ARMED FORCES 
TARGET:         -
VICTIM:         SIX JESUITS 
                JESUITS' 
                MORE PERSONS 
                COLONEL HECTOR HERIBERTO HERNANDEZ 

ID:             TST1-MUC3-0050
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       PANAMA'S NATIONAL UNIVERSITY 
                SALVADORAN WOMEN 
                MEN WEARING MILITARY UNIFORMS 
TARGET:         -
VICTIM:         JESUITS 
                SALVADORAN GUILLERMO GALVAN 
                OTHER PRIESTS 
                PRIESTS 

ID:             TST1-MUC3-0072
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         ELECTRIC SUPPLY 
                CHILEAN ELECTRIC COMPANY 
                ELECTRIC SUPPLY SYSTEM 
VICTIM:         -

ID:             TST1-MUC3-0080
INCIDENT:       BOMBING
WEAPON:         -
PERP INDIV:     -
PERP ORG:       EXTRADITABLES 
                NATIONAL GOVERNMENT 
                METROPOLITAN POLICE 
TARGET:         METROPOLITAN POLICE CAI 
VICTIM:         ANY BODYGUARDS 

ID:             TST1-MUC3-0092
INCIDENT:       BOMBING
WEAPON:         LAW ROCKET LAUNCHERS 
                HELICOPTER 
                M-79 GRENADE LAUNCHERS 
PERP INDIV:     FMLN UNITS 
                CACAHUATIQUE BATTALION 
                OUR FORCES 
PERP ORG:       MILITARY RADIOS 
TARGET:         NATIONAL POLICE POST 
VICTIM:         -

ID:             TST2-MUC4-0010
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PERUVIAN PRESIDENT GARCIA 

ID:             TST2-MUC4-0012
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         -

ID:             TST2-MUC4-0019
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     TERRORIST ATTACKS AGAINST SALVADORANS 
                REBELS 
PERP ORG:       FMLN 
                OUR GOVERNMENT PROGRAM 
                FMLN'S PLANS 
TARGET:         -
VICTIM:         PEOPLE 

ID:             TST2-MUC4-0044
INCIDENT:       BOMBING
WEAPON:         EXPLOSIVES 
PERP INDIV:     -
PERP ORG:       NATIONAL LIBERATION ARMY 
                NATIONAL GUARD PATROL 
                ARMY 
                NATIONAL GUARD JEEP 
TARGET:         -
VICTIM:         ROMERO 
                JORGE ROMERO 

ID:             TST2-MUC4-0046
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       POLICE'S 
TARGET:         -
VICTIM:         -

ID:             TST2-MUC4-0051
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PEOPLE 

ID:             TST2-MUC4-0053
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     UNIDENTIFIED ASSAILANTS 
PERP ORG:       -
TARGET:         -
VICTIM:         RODRIGUEZ' RELATIVES 
                RODRIGUEZ DE PEREZ 
                NORBERTO RODRIGUEZ 

ID:             TST2-MUC4-0056
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         OTHERS 

ID:             TST2-MUC4-0070
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     GUERRILLAS 
PERP ORG:       SALVADORAN GOVERNMENT 
                SALVADORAN TELEVISION JOURNALISTS 
TARGET:         EMBASSY 
                BUILDING 
                THOSE OCCUPYING THE EMBASSY 
VICTIM:         WOMEN 
                APPROXIMATELY 50 PEOPLE 
                MURDERED AND MISSING PEOPLE 
                PEOPLE 
                SALVADORAN TELEVISION JOURNALISTS 

ID:             TST2-MUC4-0081
INCIDENT:       ATTACK
WEAPON:         BOMBS 
                OF THESE BOMBS 
PERP INDIV:     -
PERP ORG:       -
TARGET:         MEDELLIN METROPOLITAN POLICE 
                VARIOUS GOVERNMENT BANK BRANCHES 
VICTIM:         -

ID:             TST2-MUC4-0093
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     REBEL UNITS 
PERP ORG:       NATIONAL MUSEUM 
                SALVADORAN GOVERNMENT 
                GOVERNMENT'S 
TARGET:         -
VICTIM:         MANY CIVILIANS 

ID:             TST2-MUC4-0095
INCIDENT:       ATTACK
WEAPON:         EXPLOSIVE DEVICES 
PERP INDIV:     -
PERP ORG:       -
TARGET:         -
VICTIM:         PERSONS WHO LOVE ADVENTURE 
                THESE PEOPLE 
                GENERAL HECTOR GRAMAJO MORALES 

