ID:             DEV-MUC3-0004
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     -
PERP ORG:       THIS 
                GENERAL 
                BOMBING 
                SAN SALVADOR'S NEIGHBORHOODS 
                FMLN 
                SALVADORAN ARMED FORCES 
                THIS FIRST 
                INTERIOR 
                COUNTRY 
                DESTRUCTION 
                MANY OTHERS 
                GENOCIDE 
                INFANTRY 
                MASS MURDERS 
                EL MOSOTO 
                , AND 
                OF 
                U.S. STRATEGY 
                TOP MILITARY COMMAND 
                PAST 10 YEARS 
                PERMANENT REBELLION 
                RURAL AREAS 
                COUNTRY'S 
                10 NOVEMBER OFFENSIVE 
TARGET:         RADIO VENCEREMOS 
                AIR FORCE COMMANDER 
                GENERAL RAFAEL BUSTILLO 
                FALSE HOPE 
                MASS KILLERS 
VICTIM:         AIR FORCE 
                ITS MOST ENCOURAGING PILLAR 
                70,000 SALVADORANS 
                ARNULFO ROMERO 
                JESUIT PRIESTS 
                PATRIOT OFFICERS 
                THAT SAME ARMY 
                JESUITS ' MURDERS 
                BOMBINGS 
                INTERNATIONAL COMMUNITY 
                OFFICERS 
                THESE INCIDENTS 

ID:             DEV-MUC3-0022
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     OF ACCUSED OF COMMITTING 
                OF 
PERP ORG:       AND DEFINITELY 
                GUERRILLA OFFENSIVE 
                FMLN 
                STRONG MILITARY FORCE 
                REVOLUTIONARY ATTITUDE 
                MASSES 
                GOVERNMENT ARMY 
                10 YEARS 
                U.S. TRAINING 
                ARMY 
                MILITARY STANCE 
                ALL SHOWS 
                NEGOTIATED SOLUTION 
                CRISIS 
                THIS 
                PARADOX 
                ITS STANCE 
TARGET:         -
VICTIM:         ALESSANDRO OPPES 
                ARREST 
                SOLDIERS 
                JESUIT PRIESTS 
                MANIPULATED COVER OPERATION 
                FACT 
                PRESIDENT CRISTIANI 
                MEMBERS OF THE ARMY 
                MASSACRE 
                FIRST STEP 
                GOOD THING 
                SUBSEQUENT STEPS 
                MURDER 
                ROMERO 
                NO SENTENCES 
                NO TRIALS 
                THIS 
                JESUIT FATHERS 
                ISOLATED ACTION 
                EL SALVADOR 
                10 YEARS 
                CIVIL WAR 
                90 PERCENT OF THEM 
                POLITICAL ASSASSINATION 
                GOVERNMENT FORCES 
                CONSTANT PRACTICE 
                POSITIVE FACTOR 
                CALL 
                FIVE PRESIDENTS 
                RESUMPTION 
                DIALOGUE 
                APPEAL 
                UN SECRETARY 
                THIS END 
                END OF NOVEMBER 
                U.S. SECRETARY 
                STATE'S ASSISTANT 
                LATIN AMERICA 
                FIRST TIME 
                NEED FOR NEGOTIATIONS 
                CRISIS 
                IMPORTANT SIGN 
                CHANGING SITUATION 

ID:             DEV-MUC3-0026
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     IN WHICH WAS TRAVELING 
                MNR SPOKESMEN 
                GUATEMALAN POLICE 
                VEHICLE 
                MEMBER 
                ITS OCCUPANTS 
PERP ORG:       MNR SPOLESMAN 
                OQUELI COLINDRES 
                AIRPORT 
                GUATEMALA CITY 
                FLIGHT 
                SOCIALIST INTERNATIONAL DELEGATION 
                ELECTORAL CAMPAIGN 
TARGET:         -
VICTIM:         SAN SALVADOR 
                SALVADORAN GOVERNMENT 
                DISAPPEARANCE 
                THIS MORNING IN GUATEMALA 
                NECESSARY EFFORTS 
                DIPLOMATIC CHANNELS 
                MORE INFORMATION 
                CASE 
                SOURCES FROM HIS PARTY 
                HECTOR OQUELI COLINDRES 
                NATIONAL 
                VEHICLE 
                HEAVILY ARMED MEN 
                CIVILIAN CLOTHING 

ID:             DEV-MUC3-0028
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     OF ' MURDER 
                `` , '' 
                SALVADORAN MILITARY MEN 
                THEIR RIFLES 
                POWER 
                THEIR WEAPONS 
PERP ORG:       OF 
                AND 
                EL SALVADOR 
                MILITARY POWER 
                REAL POWER 
                MILITARY MAN 
                PURGE 
                SUCH ELEMENTS 
                ARMED FORCES 
TARGET:         -
VICTIM:         SAN SALVADOR 
                MASTERMINDS 
                SIX JESUIT PRIESTS 
                SOLDIERS OR LIEUTENANTS 
                HIERARCHY 
                GENERAL OR COLONEL 
                THIS CRIME 
                RANKING LEADER 
                RULING ARENA 
                RETIRED OFFICER 
                TELEVISED INTERVIEW 
                THIS MULTIPLE MURDER 
                THIS ACTION 
                MUCH HIGHER LEVEL OFFICERS 
                CULPRITS 
                STATE POWER COMPANY 
                DECISION 
                PRESIDENT ALFREDO CRISTIANI 
                ARMED FORCES 
                WOMEN 
                MILITARY PERSONNEL 
                JESUITS 
                THEIR COOK 
                COOK'S 

ID:             DEV-MUC3-0036
INCIDENT:       ATTACK
WEAPON:         -
PERP INDIV:     , '' BECAUSE KNEW 
                STAGED TO KIDNAP 
                HIS WAY 
                LA AURORA AIRPORT 
                PLANE 
                HEAVILY ARMED MEN 
                MNR 
PERP ORG:       OF 
                INCIDENT 
                PARAMILITARY GROUPS 
                BOTH COUNTRIES 
                PERPETRATORS 
                OQUELI'S ARRIVAL 
                ENTIRE OPERATION 
TARGET:         -
VICTIM:         GUATEMALA CITY 
                GUATEMALAN FOREIGN MINISTRY 
                ASSASSINATION 
                FOREIGN MINISTRY COMMUNIQUE 
                ASSISTANT SECRETARY 
                SOCIALIST INTERNATIONAL 
                LATIN AMERICA 
                CARIBBEAN 
                DEPUTY SECRETARY GENERAL 
                NATIONAL REVOLUTIONARY MOVEMENT 
                LEFTIST MOVEMENT 
                EL SALVADOR 
                DEATHS 
                VALUABLE PERSONS 
                THIS ACT OF VIOLENCE 
                NOTE 
                DOCUMENT 
                FIRST OFFICIAL REACTION 
                KIDNAPPING AND ASSASSINATION 
                GILDA FLORES 
                ACTIVE MEMBER 
                DEMOCRATIC SOCIALIST PARTY 
                SECRETARY GENERAL MARIO SOLORZANO 
                SALVADORAN PARAMILITARY GROUPS 
                ACTIONS IN THIS COUNTRY 

ID:             DEV-MUC3-0044
INCIDENT:       ATTACK
WEAPON:         HANDMADE CATAPULTS 
                APPROXIMATELY 7 
                1745 GMT 
                NATIONAL POLICEMEN 
PERP INDIV:     GUERRILLAS 
                `` MOBILE 
                ARMED PLATFORMS 
                MEDIEVAL CATAPULTS 
                PARTS 
                FUSE 
                MAIN CHARGE 
PERP ORG:       -
TARGET:         ARMY 
                THESE DEVICES 
                TERRORIST WEAPONS 
                CAR BOMBS 
VICTIM:         PANAMA CITY 
                SMALL TRUCK 
                SALVADORAN PRESIDENTIAL HOUSE 
                MILITARY SOURCE 

ID:             DEV-MUC3-0051
INCIDENT:       ATTACK
WEAPON:         OF 
PERP INDIV:     -
PERP ORG:       -
TARGET:         BOMB 
                PILMAIQUEN ALLEY 
                WINDOWS AND WATER PIPES 
                UNOFFICIAL REPORTS 
              